force-app/main/default/flows/Active_Credit_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_CCO2</name>
        <label>Assign CCO2</label>
        <locationX>759</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>Get_created_CC.Credit_Check_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Check_Outcome2_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_created_CC.Credit_Premium_Applied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_new_values_to_created_cc_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Credit_Check_Outcome</name>
        <label>Assign Credit Check Outcome</label>
        <locationX>769</locationX>
        <locationY>510</locationY>
        <assignmentItems>
            <assignToReference>Get_created_CC.Credit_Check_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_created_CC.Credit_Premium_Applied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_new_values_to_created_cc_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Credit_Check_Outcome_2</name>
        <label>Assign Credit Check Outcome 2</label>
        <locationX>648</locationX>
        <locationY>860</locationY>
        <assignmentItems>
            <assignToReference>Get_created_CC.Credit_Check_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_created_CC.Credit_Premium_Applied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apply_Credit_Premium</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_new_values_to_created_cc_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_values_to_created_cc</name>
        <label>assign new values to created cc</label>
        <locationX>1360</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>Get_created_CC.Credit_Check_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Passed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_created_CC.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_created_CC.Total_Risk_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PR.Total_Risk_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_created_CC.Total_Risk_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PR.Total_Risk_Volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_created_CC.Credit_Premium_Applied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_created_cc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_values_to_created_cc_2</name>
        <label>assign new values to created cc 2</label>
        <locationX>1043</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>Get_created_CC.Credit_Insurer_Details_Old__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Insurer_Details_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_created_CC.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_created_CC.Total_Risk_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PR.Total_Risk_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_created_CC.Total_Risk_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PR.Total_Risk_Volume__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_created_cc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_scrores</name>
        <label>Assign scrores</label>
        <locationX>1596</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>Get_created_CC.FSR_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSR_Score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_created_CC.IP_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IP_Score</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_cc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Updated_cc_to_created_rec</name>
        <label>Assign Updated cc to created rec</label>
        <locationX>1205</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>Get_created_CC</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_CC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Amount_FSR_and_IP_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status</name>
        <label>Status</label>
        <locationX>361</locationX>
        <locationY>1010</locationY>
        <assignmentItems>
            <assignToReference>Get_PR.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready For Pricing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_PR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_update_to_failed</name>
        <label>Status update to failed</label>
        <locationX>243</locationX>
        <locationY>1089</locationY>
        <assignmentItems>
            <assignToReference>Get_PR.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_PR</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Amount_FSR_and_IP_values</name>
        <label>Check Amount, FSR and IP values</label>
        <locationX>965</locationX>
        <locationY>413</locationY>
        <defaultConnector>
            <targetReference>assign_new_values_to_created_cc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_amount_FSR_IP</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_PR.Total_Risk_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>40000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_created_CC.FSR_Score__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_created_CC.IP_Score__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Credit_Check_Screen</targetReference>
            </connector>
            <label>check amount, FSR, IP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Credit_Check_Status</name>
        <label>Check Credit Check Status</label>
        <locationX>944</locationX>
        <locationY>213</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rank_Not_Applied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_created_CC.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rank Not Applied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Scores</targetReference>
            </connector>
            <label>Rank Not Applied</label>
        </rules>
        <rules>
            <name>Credit_Check_Ran</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_created_CC.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Check Ran</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Amount_FSR_and_IP_values</targetReference>
            </connector>
            <label>Credit Check Ran</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Active_Credit_check_Exists</name>
        <label>Check If Active Credit check Exists</label>
        <locationX>756</locationX>
        <locationY>127</locationY>
        <defaultConnector>
            <targetReference>Get_created_CC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Credit_Check_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuraCmp</targetReference>
            </connector>
            <label>Check1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Outcome_of_cc</name>
        <label>Check Outcome of cc</label>
        <locationX>1180</locationX>
        <locationY>953</locationY>
        <defaultConnector>
            <targetReference>Status_update_to_failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Passed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_created_CC.Credit_Check_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Passed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status</targetReference>
            </connector>
            <label>Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insurance_obtained_decision</name>
        <label>Insurance obtained decision</label>
        <locationX>403</locationX>
        <locationY>603</locationY>
        <defaultConnector>
            <targetReference>Credit_Check_Outcome_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Obtained</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Insurance_check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Credit_Check_Outcome</targetReference>
            </connector>
            <label>Obtained?</label>
        </rules>
        <rules>
            <name>If_Risk_Amount_Thershold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PR.Total_Risk_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>40000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Check_Outcome_Screen</targetReference>
            </connector>
            <label>If Risk Amount &gt; Thershold</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CCOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Credit_Check_Outcome__c</picklistField>
        <picklistObject>Credit_Check__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NewCCChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Credit_Check__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Active Credit Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Active Credit Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Active_Credit_Check_Record</name>
        <label>Get_Active_Credit_Check_Record</label>
        <locationX>350</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Active_Credit_check_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PR.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Credit_Check__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_created_CC</name>
        <label>Get created CC</label>
        <locationX>688</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Credit_Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricing_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricingReqRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Credit_Check__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PR</name>
        <label>Get PR</label>
        <locationX>438</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Credit_Check_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricingReqRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricing_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_CC</name>
        <label>Get Updated CC</label>
        <locationX>1348</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Updated_cc_to_created_rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_created_CC.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Credit_Check__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_cc</name>
        <label>Update cc</label>
        <locationX>1568</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>Get_Updated_CC</targetReference>
        </connector>
        <inputReference>Get_created_CC</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_created_cc</name>
        <label>update created cc</label>
        <locationX>1325</locationX>
        <locationY>744</locationY>
        <connector>
            <targetReference>Check_Outcome_of_cc</targetReference>
        </connector>
        <inputReference>Get_created_CC</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_PR</name>
        <label>update PR</label>
        <locationX>299</locationX>
        <locationY>729</locationY>
        <connector>
            <targetReference>Get_Active_Credit_Check_Record</targetReference>
        </connector>
        <inputReference>Get_PR</inputReference>
    </recordUpdates>
    <screens>
        <name>AuraCmp</name>
        <label>AuraCmp</label>
        <locationX>1175</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ActiveCCCmp</name>
            <extensionName>c:ActiveCreditCheckFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>CCRecID</name>
                <value>
                    <elementReference>Get_Active_Credit_Check_Record.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Credit_Check_Outcome_2</name>
        <label>Credit Check Outcome 2</label>
        <locationX>623</locationX>
        <locationY>698</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_CCO2</targetReference>
        </connector>
        <fields>
            <name>Credit_Check_Outcome2_Label</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Credit Check Outcome&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Credit_Check_Outcome2_Picklist</name>
            <choiceReferences>CCOutcome</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Credit Check Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Credit_Check_Outcome_Screen</name>
        <label>Credit Check Outcome Screen</label>
        <locationX>459</locationX>
        <locationY>861</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Credit_Check_Outcome_2</targetReference>
        </connector>
        <fields>
            <name>Credit_Check_Outcome_Label</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Credit Check Outcome&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Rank</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Rank &lt;/b&gt;:&lt;b&gt; &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_created_CC.Credit_Rank_Formula__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Credit_Outcome</name>
            <choiceReferences>CCOutcome</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Credit Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Apply_Credit_Premium</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Apply Credit Premium</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Credit_Scores</name>
        <label>Credit Scores</label>
        <locationX>1395</locationX>
        <locationY>160</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_scrores</targetReference>
        </connector>
        <fields>
            <name>Add_Credit_Scores</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Add Credit Scores&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FSR_Score</name>
            <dataType>Number</dataType>
            <fieldText>FSR Score</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>IP_Score</name>
            <dataType>Number</dataType>
            <fieldText>IP Score</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Help_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Credit Score was not returned by the API, please manually run the Experian Fusion iQ and input these values&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Credit_Check_Screen</name>
        <label>Update Credit Check Screen</label>
        <locationX>563</locationX>
        <locationY>448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Insurance_obtained_decision</targetReference>
        </connector>
        <fields>
            <name>Credit_Check_Outcome</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Credit Insurer Check&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Credit_Rank</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Rank &lt;/b&gt;: {!Get_created_CC.Credit_Rank_Formula__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Credit_Insurer_Details_Input</name>
            <fieldText>Credit Insurer Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Insurance_check</name>
            <choiceReferences>Yes_choice</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Were you able to obtain Insurance?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NEWCCLabel</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Lower Credit Scores or Higher Risk Amount needs to be insured.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>164</locationY>
        <connector>
            <targetReference>Get_PR</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewCCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Check__c</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PricingReqRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalRiskAmountPR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>TotalRiskVolumePR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
