force-app/main/default/flows/Add_Utility_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Default_Utility</name>
        <label>Assign Default Utility</label>
        <locationX>176</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>VAR_Utility_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>-- Please Select --</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_State</name>
        <label>Assign State</label>
        <locationX>176</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>VAR_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Default_Utility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Utility_Name</name>
        <label>Assign Utility Name</label>
        <locationX>686</locationX>
        <locationY>301</locationY>
        <assignmentItems>
            <assignToReference>VAR_Utility_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_Utility.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Utility_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_Utility.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Utiulity</name>
        <label>Assign Utiulity</label>
        <locationX>317</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>VAR_Utility_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Utility</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Utility_Selection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CH_DC</name>
        <choiceText>DC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DC</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_DE</name>
        <choiceText>DE</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DE</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_IL</name>
        <choiceText>IL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>IL</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_MD</name>
        <choiceText>MD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MD</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_NJ</name>
        <choiceText>NJ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NJ</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_NY</name>
        <choiceText>NY</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NY</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_OH</name>
        <choiceText>OH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OH</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_PA</name>
        <choiceText>PA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PA</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Selected_Utility</name>
        <choiceText>{!VAR_Utility_Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VAR_Utility_ID</elementReference>
        </value>
    </choices>
    <choices>
        <name>CH_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Address_Fields</name>
        <label>Check Address Fields</label>
        <locationX>957</locationX>
        <locationY>725</locationY>
        <defaultConnector>
            <targetReference>Create_Utility_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Deatils</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>City</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Street</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Zip</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Utility_Account_0</targetReference>
            </connector>
            <label>Address Deatils</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Utility_Selection</name>
        <label>Check Utility Selection</label>
        <locationX>341</locationX>
        <locationY>637</locationY>
        <defaultConnector>
            <targetReference>Get_Utility</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Utility_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Error_2</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Another</name>
        <label>Create Another?</label>
        <locationX>794</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>Screen2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Another</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Utility_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Opportunity</name>
        <label>Create Opportunity?</label>
        <locationX>953</locationX>
        <locationY>207</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Opportunity_Now</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createOpp</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Account_NUmber</name>
        <label>Existing Account Number?</label>
        <locationX>690</locationX>
        <locationY>802</locationY>
        <defaultConnector>
            <targetReference>Check_Address_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Existing_Utility_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Duplicate_Details</targetReference>
            </connector>
            <label>Duplicate</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RCS_Utilities</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_State</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Utility</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CountryUS</name>
        <dataType>String</dataType>
        <expression>{!CountryTextUS}</expression>
    </formulas>
    <formulas>
        <name>FRM_UAN_Prefix</name>
        <dataType>String</dataType>
        <expression>If({!SOBJ_Utility.Utility_Account_Number_Prefix__c} = &quot;&quot;,&quot;.&quot;,&quot; with a prefix of &quot;&amp;{!SOBJ_Utility.Utility_Account_Number_Prefix__c} &amp;&quot;.&quot;)</expression>
    </formulas>
    <interviewLabel>Add Utility Acounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Utility Accounts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Utility_Account</name>
        <label>Create Utility Account</label>
        <locationX>176</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>Create_Another</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>VAR_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utility__c</field>
            <value>
                <elementReference>Utility</elementReference>
            </value>
        </inputAssignments>
        <object>Utility_Account__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Utility_Account_0</name>
        <label>Create Utility Account</label>
        <locationX>963</locationX>
        <locationY>501</locationY>
        <connector>
            <targetReference>Create_Another</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>VAR_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utility__c</field>
            <value>
                <elementReference>Utility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <elementReference>Zip</elementReference>
            </value>
        </inputAssignments>
        <object>Utility_Account__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Existing_Utility_Account</name>
        <label>Check for Existing Utility Account</label>
        <locationX>700</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Account_NUmber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Number</elementReference>
            </value>
        </filters>
        <filters>
            <field>Utility__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SOBJ_Utility.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Utility_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Duplicate_Details</name>
        <label>Get Duplicate Details</label>
        <locationX>688</locationX>
        <locationY>927</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Error_Duplicate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_for_Existing_Utility_Account.Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>VAR_Duplicate_Acc_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Utility</name>
        <label>Get Utility</label>
        <locationX>484</locationX>
        <locationY>633</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Existing_Utility_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Utility</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SOBJ_Utility</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Utility_Account_Number_Length__c</queriedFields>
        <queriedFields>Utility_Account_Number_Prefix__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>createOpp</name>
        <label>createOpp</label>
        <locationX>960</locationX>
        <locationY>361</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>createOppCmp</name>
            <extensionName>c:Create_Opportunity</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>176</locationX>
        <locationY>637</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Default_Utility</targetReference>
        </connector>
        <fields>
            <name>TXT_Error</name>
            <fieldText>&lt;p&gt;There was an error when trying to create that Utility Account.  It is likely caused by a mismatch between the Account Number and the format expected for that Utility.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You selected {!SOBJ_Utility.Name} as the Utility. Their Account numbers are expected to be {!SOBJ_Utility.Utility_Account_Number_Length__c} characters long{!FRM_UAN_Prefix}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>349</locationX>
        <locationY>357</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Utiulity</targetReference>
        </connector>
        <fields>
            <name>TXT_Screen1</name>
            <fieldText>&lt;p&gt;Complete the below fields to add a new Utility Account for this Customer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Number</name>
            <dataType>String</dataType>
            <fieldText>Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;﻿State&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>State3display</name>
            <fieldText>&lt;p&gt;{!State}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Zip</name>
            <dataType>String</dataType>
            <fieldText>Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CountryText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Country&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Country2Us</name>
            <fieldText>&lt;p&gt;{!CountryUS}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Utility</name>
            <choiceReferences>RCS_Utilities</choiceReferences>
            <choiceReferences>CH_Selected_Utility</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CH_Selected_Utility</defaultSelectedChoiceReference>
            <fieldText>Utility</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_Another</name>
            <choiceReferences>CH_Yes</choiceReferences>
            <choiceReferences>CH_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CH_Yes</defaultSelectedChoiceReference>
            <fieldText>Add Another?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>805</locationX>
        <locationY>205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>TXT_Screen2</name>
            <fieldText>&lt;p&gt;You can either create an Opportunity now or later.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_Opportunity_Now</name>
            <choiceReferences>CH_Yes</choiceReferences>
            <choiceReferences>CH_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CH_Yes</defaultSelectedChoiceReference>
            <fieldText>Create Opportunity Now?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_0</name>
        <label>Screen 0</label>
        <locationX>175</locationX>
        <locationY>224</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_State</targetReference>
        </connector>
        <fields>
            <name>TXT_screen0</name>
            <fieldText>&lt;p&gt;Please select which State you wish to add Utility Accounts for:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>State</name>
            <choiceReferences>CH_NY</choiceReferences>
            <choiceReferences>CH_OH</choiceReferences>
            <choiceReferences>CH_PA</choiceReferences>
            <choiceReferences>CH_NJ</choiceReferences>
            <choiceReferences>CH_DE</choiceReferences>
            <choiceReferences>CH_DC</choiceReferences>
            <choiceReferences>CH_IL</choiceReferences>
            <choiceReferences>CH_MD</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Error_2</name>
        <label>Screen_Error_2</label>
        <locationX>476</locationX>
        <locationY>430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TXT_Error2</name>
            <fieldText>&lt;p&gt;You have not selected a Utility.  Please click &apos;Previous&apos; and select a Utility from the list.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Error_Duplicate</name>
        <label>Screen_Error_Duplicate</label>
        <locationX>274</locationX>
        <locationY>875</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TXT_Duplicate</name>
            <fieldText>&lt;p&gt;The Utility Account Number that you have entered is already in the system.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Utility Account is currently associated to the Customer &apos;{!VAR_Duplicate_Acc_Name}&apos;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &apos;Previous&apos; to amend the Utility Account Number or &apos;Finish&apos; to leave the process without adding any more Accounts.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Screen_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountryTextUS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>US</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SOBJ_Utility</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>VAR_Duplicate_Acc_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Utility_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Utility_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
