force-app/main/default/flows/Broker_Exception_Data_Final.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AssignOppMaxCreatedDateToBroker</name>
        <label>AssignOppMaxCreatedDateToBroker</label>
        <locationX>884</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>CountOfAllOppClosedLost</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Total_Opportunity_Volume_MWh_Broker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountOfAllOpp</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Not_Won_Opportunity_Count_Broker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountOfOppClosedWon</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Won_Opportunity_Volume_MWh_Broker</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateBrokerAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_of_all_Annual_Volume_kWh</name>
        <label>Sum of all Annual_Volume_kWh</label>
        <locationX>33</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>SumOfAnnual_Volume_kWh</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Through_Closed_Lost.Annual_Volume_kWh__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Through_Closed_Lost</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_of_all_Annual_Volume_kWh_0</name>
        <label>Sum of all Annual_Volume_kWh_ClosedLost</label>
        <locationX>370</locationX>
        <locationY>656</locationY>
        <assignmentItems>
            <assignToReference>SumOfAnnualVolumeWithClosedLost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Through_Closed_Lost_0.Annual_Volume_kWh__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Through_Closed_Lost_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_of_all_Annual_Volume_kWh_0_0</name>
        <label>Sum of all Annual_Volume_kWh_ClosedWon</label>
        <locationX>680</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>SumOfAnnualVolumeWithClosedWon</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Through_Closed_Won.Annual_Volume_kWh__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Through_Closed_Won</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Total_Opportunity_Volume_MWh_Broker</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Total_Opportunity_Volume_MWh_Broker</label>
        <locationX>213</locationX>
        <locationY>446</locationY>
        <assignNextValueToReference>currentItem_Won_Opportunity_Volume_MWh_Broker</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Not_Won_Opportunity_Count_Broker</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Won_Opportunity_Volume_MWh_Broker.StageName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Closed Lost</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_Through_Closed_Lost_0</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Won_Opportunity_Volume_MWh_Broker</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Won_Opportunity_Volume_MWh_Broker</label>
        <locationX>545</locationX>
        <locationY>441</locationY>
        <assignNextValueToReference>currentItem_Won_Opportunity_Volume_MWh_Broker</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Not_Won_Opportunity_Count_Broker</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Won_Opportunity_Volume_MWh_Broker.StageName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Closed Won</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_Through_Closed_Won</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>OpportunityIdEqualsBrokerAccount</name>
        <label>OpportunityIdEqualsBrokerAccount</label>
        <locationX>527</locationX>
        <locationY>290</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkBrokerAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Broker__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account.Broker__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAllOpp</targetReference>
            </connector>
            <label>checkBrokerAccount</label>
        </rules>
    </decisions>
    <description>Flow related with card SU-873</description>
    <environments>Default</environments>
    <formulas>
        <name>DivideSumBy1000</name>
        <dataType>Number</dataType>
        <expression>{!SumOfAnnual_Volume_kWh}/1000</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DivideSumBy1000ClosedLost</name>
        <dataType>Number</dataType>
        <expression>{!SumOfAnnualVolumeWithClosedLost}/1000</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DivideSumBy1000ClosedWon</name>
        <dataType>Number</dataType>
        <expression>{!SumOfAnnualVolumeWithClosedWon}/1000</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Last_Opportunity_Won_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Record.LastModifiedDate}</expression>
    </formulas>
    <formulas>
        <name>MaxClosedDate</name>
        <dataType>Date</dataType>
        <expression>{!getAllOpp.CloseDate}</expression>
    </formulas>
    <interviewLabel>Broker Exception Data Final {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Broker Exception Data Final</label>
    <loops>
        <name>loop_Through_Closed_Lost</name>
        <label>loop Through All Opp</label>
        <locationX>39</locationX>
        <locationY>459</locationY>
        <collectionReference>Not_Won_Opportunity_Count_Broker</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_of_all_Annual_Volume_kWh</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Total_Opportunity_Volume_MWh_Broker</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Through_Closed_Lost_0</name>
        <label>loop Through Closed Lost</label>
        <locationX>359</locationX>
        <locationY>447</locationY>
        <collectionReference>Total_Opportunity_Volume_MWh_Broker</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_of_all_Annual_Volume_kWh_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Won_Opportunity_Volume_MWh_Broker</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Through_Closed_Won</name>
        <label>loop Through Closed Won</label>
        <locationX>681</locationX>
        <locationY>439</locationY>
        <collectionReference>Won_Opportunity_Volume_MWh_Broker</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_of_all_Annual_Volume_kWh_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignOppMaxCreatedDateToBroker</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllOpp</name>
        <label>getAllOpp</label>
        <locationX>326</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Not_Won_Opportunity_Count_Broker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Broker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Broker__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Not_Won_Opportunity_Count_Broker</name>
        <label>Not_Won_Opportunity_Count_Broker</label>
        <locationX>77</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Through_Closed_Lost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Broker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Broker__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateBrokerAccount</name>
        <label>UpdateBrokerAccount</label>
        <locationX>906</locationX>
        <locationY>663</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Broker__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Opportunity_Created_Date__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Opportunity_Won_Date__c</field>
            <value>
                <elementReference>MaxClosedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Won_Opportunity_Count_Broker__c</field>
            <value>
                <elementReference>CountOfAllOppClosedLost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Won_Opportunity_Volume_MWh_Broker__c</field>
            <value>
                <elementReference>DivideSumBy1000ClosedLost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Opportunity_Count_Broker__c</field>
            <value>
                <elementReference>CountOfAllOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Opportunity_Volume_MWh_Broker__c</field>
            <value>
                <elementReference>DivideSumBy1000</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Won_Opportunity_Count_Broker__c</field>
            <value>
                <elementReference>CountOfAllOppClosedLost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Won_Opportunity_Volume_MWh_Broker__c</field>
            <value>
                <elementReference>DivideSumBy1000ClosedWon</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>OpportunityIdEqualsBrokerAccount</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND( 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Broker__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0063i00000EewlIAAR</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-07-01</startDate>
            <startTime>06:10:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CountOfAllOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountOfAllOppClosedLost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountOfOppClosedWon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Won_Opportunity_Volume_MWh_Broker</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SumOfAnnual_Volume_kWh</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SumOfAnnualVolumeWithClosedLost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SumOfAnnualVolumeWithClosedWon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
