force-app/main/default/flows/Broker_Reporting_Stats.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Error_Email</name>
        <label>Send Error Email</label>
        <locationX>314</locationX>
        <locationY>1884</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>rob@decima.one</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error Running Broker Reporting Stats Flow</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_All_Opp_Variables</name>
        <label>Assign All Opp Variables</label>
        <locationX>402</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>VAR_All_Opp_Ann_Vol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Process_Opportunities.Annual_Volume_kWh__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_All_Opp_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Latest_Created_Date</name>
        <label>Assign Latest Created Date</label>
        <locationX>138</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>VAR_Lastest_Created_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Single_Opp.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lost_Variables</name>
        <label>Assign Lost Variables</label>
        <locationX>402</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>VAR_Lost_Opp_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Lost_Opp_Ann_Vol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Process_Opportunities.Annual_Volume_kWh__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_All_Opp_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Count</name>
        <label>Assign Opp Count</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>VAR_Opp_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Count_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Won_Variables</name>
        <label>Assign Won Variables</label>
        <locationX>138</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>VAR_Won_Ann_Vol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Process_Opportunities.Annual_Volume_kWh__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Won_Opp_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Last_Won_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Process_Opportunities.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_All_Opp_Variables</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Most_Recent_Opp</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Get Most Recent Opp</label>
        <locationX>50</locationX>
        <locationY>1308</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Opportunities</collectionReference>
        <connector>
            <targetReference>Single_Opp</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Opp_Count_Check</name>
        <label>Opp Count Check</label>
        <locationX>314</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Opp_Count</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Opportunities</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage</name>
        <label>Stage</label>
        <locationX>402</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>Assign_All_Opp_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open</defaultConnectorLabel>
        <rules>
            <name>Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Opportunities.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Won_Variables</targetReference>
            </connector>
            <label>Won</label>
        </rules>
        <rules>
            <name>Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Opportunities.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lost_Variables</targetReference>
            </connector>
            <label>Lost</label>
        </rules>
    </decisions>
    <formulas>
        <name>FRM_All_Vol_MWh</name>
        <dataType>Number</dataType>
        <expression>{!VAR_All_Opp_Ann_Vol} / 1000</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FRM_Lost_Vol_MWh</name>
        <dataType>Number</dataType>
        <expression>{!VAR_Lost_Opp_Ann_Vol} / 1000</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FRM_Won_Vol_MWh</name>
        <dataType>Number</dataType>
        <expression>{!VAR_Won_Ann_Vol} / 1000</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Broker Reporting Stats {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Broker Reporting Stats</label>
    <loops>
        <name>Process_Opportunities</name>
        <label>Process Opportunities</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Most_Recent_Opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Single_Opp</name>
        <label>Single Opp</label>
        <locationX>50</locationX>
        <locationY>1428</locationY>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Latest_Created_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Broker_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opp_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Broker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Broker_Record</name>
        <label>Update Broker Record</label>
        <locationX>50</locationX>
        <locationY>1764</locationY>
        <faultConnector>
            <targetReference>Send_Error_Email</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Last_Opportunity_Created_Date__c</field>
            <value>
                <elementReference>VAR_Lastest_Created_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Opportunity_Won_Date__c</field>
            <value>
                <elementReference>VAR_Last_Won_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Won_Opportunity_Count_Broker__c</field>
            <value>
                <elementReference>VAR_Lost_Opp_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Won_Opportunity_Volume_MWh_Broker__c</field>
            <value>
                <elementReference>FRM_Lost_Vol_MWh</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Opportunity_Count_Broker__c</field>
            <value>
                <elementReference>VAR_All_Opp_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Opportunity_Volume_MWh_Broker__c</field>
            <value>
                <elementReference>FRM_All_Vol_MWh</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Won_Opportunity_Count_Broker__c</field>
            <value>
                <elementReference>VAR_Won_Opp_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Won_Opportunity_Volume_MWh_Broker__c</field>
            <value>
                <elementReference>FRM_Won_Vol_MWh</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123i000000QfNOAA0</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-05-27</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>VAR_All_Opp_Ann_Vol</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_All_Opp_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Last_Won_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Lastest_Created_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Lost_Opp_Ann_Vol</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Process_Opportunities.Annual_Volume_kWh__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>VAR_Lost_Opp_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Opp_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Won_Ann_Vol</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Won_Opp_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
