force-app/main/default/flows/Broker_Opportunity_Metrics.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_For_All</name>
        <label>Assign For All</label>
        <locationX>528</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>VAR_All_Opp_Ann_Vol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Opportunities.Annual_Volume_kWh__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_All_Opp_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Latest_Created_Date</name>
        <label>Assign Latest Created Date</label>
        <locationX>264</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>VAR_Last_Created_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Single_Opp.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Single_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lost_or_Expired_Variables</name>
        <label>Assign Lost or Expired Variables</label>
        <locationX>528</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>VAR_Lost_Opp_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Lost_Opp_Ann_Vol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Opportunities.Annual_Volume_kWh__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_For_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Won_Variables</name>
        <label>Assign Won Variables</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>VAR_Won_Ann_Vol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Opportunities.Annual_Volume_kWh__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Won_Opp_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Last_Won_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_All_Opportunities.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_For_All</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Most_Recent_Opp</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Get Most Recent Opp</label>
        <locationX>176</locationX>
        <locationY>1127</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Broker_Opportunities</collectionReference>
        <connector>
            <targetReference>Loop_Single_Opp</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>CreatedDate</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Stage</name>
        <label>Stage</label>
        <locationX>528</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Assign_For_All</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open</defaultConnectorLabel>
        <rules>
            <name>Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Opportunities.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Won_Variables</targetReference>
            </connector>
            <label>Won</label>
        </rules>
        <rules>
            <name>Lost_or_Expired</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Opportunities.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_All_Opportunities.Start_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lost_or_Expired_Variables</targetReference>
            </connector>
            <label>Lost or Expired</label>
        </rules>
    </decisions>
    <formulas>
        <name>FRM_All_Vol_MWh</name>
        <dataType>Number</dataType>
        <expression>{!VAR_All_Opp_Ann_Vol} / 1000</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FRM_Lost_Vol_MWh</name>
        <dataType>Number</dataType>
        <expression>{!VAR_Lost_Opp_Ann_Vol} / 1000</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FRM_Won_Vol_MWh</name>
        <dataType>Number</dataType>
        <expression>{!VAR_Won_Ann_Vol} / 1000</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Broker Opportunity Metrics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Broker Opportunity Metrics</label>
    <loops>
        <name>Loop_All_Opportunities</name>
        <label>Loop All Opportunities</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_All_Broker_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Most_Recent_Opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Single_Opp</name>
        <label>Loop Single Opp</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <collectionReference>Get_All_Broker_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Latest_Created_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Broker_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Broker_Opportunities</name>
        <label>Get All Broker Opportunities</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Broker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Broker__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Broker_Record</name>
        <label>Update Broker Record</label>
        <locationX>176</locationX>
        <locationY>1583</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Broker__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Opportunity_Created_Date__c</field>
            <value>
                <elementReference>VAR_Last_Created_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Opportunity_Won_Date__c</field>
            <value>
                <elementReference>VAR_Last_Won_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Won_Opportunity_Count_Broker__c</field>
            <value>
                <elementReference>VAR_Lost_Opp_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Won_Opportunity_Volume_MWh_Broker__c</field>
            <value>
                <elementReference>FRM_Lost_Vol_MWh</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Opportunity_Count_Broker__c</field>
            <value>
                <elementReference>VAR_All_Opp_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Opportunity_Volume_MWh_Broker__c</field>
            <value>
                <elementReference>FRM_All_Vol_MWh</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Won_Opportunity_Count_Broker__c</field>
            <value>
                <elementReference>VAR_Won_Opp_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Won_Opportunity_Volume_MWh_Broker__c</field>
            <value>
                <elementReference>FRM_Won_Vol_MWh</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Broker_Opportunities</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>VAR_All_Opp_Ann_Vol</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_All_Opp_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Last_Created_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Last_Won_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Lost_Opp_Ann_Vol</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Lost_Opp_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Won_Ann_Vol</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Won_Opp_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
