force-app/main/default/flows/Broker_Creator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <dynamicChoiceSets>
        <name>Footprint</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Footprint__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Users</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>86</limit>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FRM_Link</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;www.google.com&quot;,&quot;Link To Broker&quot;)</expression>
    </formulas>
    <interviewLabel>Broker Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Broker Creator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Broker</name>
        <label>Create Broker</label>
        <locationX>50</locationX>
        <locationY>362</locationY>
        <assignRecordIdToReference>VAR_Account_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Book_Size_RCE__c</field>
            <value>
                <elementReference>Book_Size_RCE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Footprint__c</field>
            <value>
                <elementReference>Footprint</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Broker_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>203</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VAR_Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>PC_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>PC_Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>PC_Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>PC_Name.middleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>PC_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>50</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Broker</targetReference>
        </connector>
        <fields>
            <name>TXT_Screen1</name>
            <fieldText>&lt;p&gt;This process will allow you to create a new Broker record.  Please complete the fields below.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Broker_Name</name>
            <dataType>String</dataType>
            <fieldText>Broker Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Owner</name>
            <choiceReferences>RCS_Users</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Owner</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Book_Size_RCE</name>
            <dataType>Number</dataType>
            <fieldText>Book Size (RCE)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Broker_Footprint</name>
            <choiceReferences>Footprint</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Footprint</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PC_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Contact</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PC_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PC_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>203</locationX>
        <locationY>217</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TXT_Screen2</name>
            <fieldText>&lt;p&gt;The Broker record has been created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can view the Broker record using this link:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!FRM_Link}&quot; target=&quot;_blank&quot;&gt;{!FRM_Link}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>VAR_Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
