force-app/main/default/flows/Check_Utility_Account_Status_Inactive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>test</name>
        <label>test12</label>
        <locationX>560</locationX>
        <locationY>8</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Account_Status_Inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UA.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UA</targetReference>
            </connector>
            <label>Check Account Status Inactive</label>
        </rules>
    </decisions>
    <description>Check Utility Account Status Inactive and set Account status to Dropped</description>
    <interviewLabel>Check Utility Account Status Inactive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Utility Account Status Inactive</label>
    <loops>
        <name>UA</name>
        <label>UA</label>
        <locationX>498</locationX>
        <locationY>295</locationY>
        <collectionReference>UAList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>test</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAccountStatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>UtilityAccount</name>
        <label>UtilityAccount</label>
        <locationX>224</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Utility_Account__c</object>
        <outputReference>UAList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccountStatus</name>
        <label>UpdateAccountStatus</label>
        <locationX>1010</locationX>
        <locationY>145</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Dropped</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>UtilityAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UAList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account__c</objectType>
    </variables>
</Flow>
