force-app/main/default/flows/Contact_Subscribed_Reports.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Active_Meter</name>
        <label>Assign Active Meter</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>VAR_New_Reports</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Active Meter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Service_Rollover1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Commissions</name>
        <label>Assign Commissions</label>
        <locationX>50</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>VAR_New_Reports</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Commissions</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Subscribed_Reports</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dropped_Meter</name>
        <label>Assign Dropped Meter</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>VAR_New_Reports</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Dropped Meter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commissions1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Enrollment</name>
        <label>Assign Enrollment</label>
        <locationX>50</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>VAR_New_Reports</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Enrollment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Utility_Transaction_Dropped_Meter1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Reports</name>
        <label>Assign Existing Reports</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>VAR_New_Reports</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.Subscribed_Reports__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Service_Active_Meter1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Renewal</name>
        <label>Assign Renewal</label>
        <locationX>50</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>VAR_New_Reports</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Utility_Transaction_Enrollment1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rollover</name>
        <label>Assign Rollover</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>VAR_New_Reports</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Rollover</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Service_Renewal1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Commissions1</name>
        <label>Commissions</label>
        <locationX>182</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Update_Subscribed_Reports</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commissions</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Commission</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscribed_Reports__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Commissions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Commissions</targetReference>
            </connector>
            <label>Commissions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Service_Active_Meter1</name>
        <label>Customer Service - Active Meter</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Customer_Service_Rollover1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Service_Active_Meter</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscribed_Reports__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Active Meter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Active_Meter</targetReference>
            </connector>
            <label>Customer Service - Active Meter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Service_Renewal1</name>
        <label>Customer Service - Renewal</label>
        <locationX>182</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Utility_Transaction_Enrollment1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Service_Renewal</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscribed_Reports__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Renewal</targetReference>
            </connector>
            <label>Customer Service - Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Service_Rollover1</name>
        <label>Customer Service - Rollover</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Customer_Service_Renewal1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Service_Rollover</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Customer Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscribed_Reports__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Rollover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rollover</targetReference>
            </connector>
            <label>Customer Service - Rollover</label>
        </rules>
    </decisions>
    <decisions>
        <name>Utility_Transaction_Dropped_Meter1</name>
        <label>Utility Transaction - Dropped Meter</label>
        <locationX>182</locationX>
        <locationY>1775</locationY>
        <defaultConnector>
            <targetReference>Commissions1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Utility_Transaction_Dropped_Meter</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Utility Transaction</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscribed_Reports__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Dropped Meter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dropped_Meter</targetReference>
            </connector>
            <label>Utility Transaction - Dropped Meter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Utility_Transaction_Enrollment1</name>
        <label>Utility Transaction - Enrollment</label>
        <locationX>182</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Utility_Transaction_Dropped_Meter1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Utility_Transaction_Enrollment</name>
            <conditionLogic>1 AND NOT 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Utility Transaction</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscribed_Reports__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Enrollment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Enrollment</targetReference>
            </connector>
            <label>Utility Transaction - Enrollment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contact - Subscribed Reports {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Subscribed Reports</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Subscribed_Reports</name>
        <label>Update Subscribed Reports</label>
        <locationX>182</locationX>
        <locationY>2447</locationY>
        <inputAssignments>
            <field>Subscribed_Reports__c</field>
            <value>
                <elementReference>VAR_New_Reports</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Existing_Reports</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_New_Reports</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
