force-app/main/default/flows/CPM_Out_of_Office_Share.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Opportunity_Share_to_Collection_for_Deletion</name>
        <label>Add Opportunity Share to Collection for Deletion</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>SCOL_Opportunity_Share_Delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Opportunity_Shares</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity_Shares_List_To_Delete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>SCOL_Opp_Share</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_Opp_Share</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opp_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Team_Variables</name>
        <label>Assign Opp Team Variables</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_Opp_Share.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_Opp_Team.Broker__r.Cover_CPM__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Opp_Share.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_Opp_Team.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Opp_Share.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Opp_Share.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action</name>
        <label>Action</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Open_Opportunities_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Returning to Office</defaultConnectorLabel>
        <rules>
            <name>Leaving_Office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Out_of_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TimeStamp</targetReference>
            </connector>
            <label>Leaving Office</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>754</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Add_Opportunity_Share_to_Collection_for_Deletion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Share_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Shares</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Shares_List_To_Delete</targetReference>
            </connector>
            <label>No Share Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_2</name>
        <label>Null Check 2</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Delete_Opportunity_Shares</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Records_to_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCOL_Opportunity_Share_Delete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record</targetReference>
            </connector>
            <label>No Records to Delete</label>
        </rules>
    </decisions>
    <formulas>
        <description>The date/time that the Flow ran that created the shares</description>
        <name>FRM_Lower_TimeStamp</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record__Prior.Out_of_Office_TimeStamp__c}</expression>
    </formulas>
    <formulas>
        <name>FRM_TimeStamp_Threshold_Check</name>
        <dataType>Boolean</dataType>
        <expression>FALSE</expression>
    </formulas>
    <formulas>
        <description>The date/time that the Flow ran that created the shares + 10 seconds</description>
        <name>FRM_Upper_TimeStamp</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record__Prior.Out_of_Office_TimeStamp__c} + 0.00011</expression>
    </formulas>
    <interviewLabel>CPM Out of Office Share {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPM Out of Office Share</label>
    <loops>
        <name>Assign_Opp_Team</name>
        <label>Assign Opp Team</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Get_Open_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_Team_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Opportunity_Shares</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Opportunity_Shares_List_To_Delete</name>
        <label>Create Opportunity Shares List To Delete</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Open_Opportunities_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Opportunity_Shares</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Null_Check_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity_Shares</name>
        <label>Create Opportunity Shares</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <inputReference>SCOL_Opp_Share</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Opportunity_Shares</name>
        <label>Delete Opportunity Shares</label>
        <locationX>666</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Update_User_Record</targetReference>
        </connector>
        <inputReference>SCOL_Opportunity_Share_Delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Open_Opportunities</name>
        <label>Get Open Opportunities</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opp_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Cover_CPM__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Opportunities_1</name>
        <label>Get Open Opportunities</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity_Shares_List_To_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Shares</name>
        <label>Get Opportunity Shares</label>
        <locationX>754</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Opportunity_Shares_List_To_Delete.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>FRM_Lower_TimeStamp</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>FRM_Upper_TimeStamp</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Opportunity_Shares_List_To_Delete.Broker__r.Cover_CPM__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_TimeStamp</name>
        <label>Update TimeStamp</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_Open_Opportunities</targetReference>
        </connector>
        <inputAssignments>
            <field>Out_of_Office_TimeStamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>578</locationX>
        <locationY>1583</locationY>
        <inputAssignments>
            <field>Out_of_Office_TimeStamp__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Out_of_Office__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SCOL_Opp_Share</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityShare</objectType>
    </variables>
    <variables>
        <name>SCOL_Opportunity_Share_Delete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityShare</objectType>
    </variables>
    <variables>
        <name>SOBJ_Opp_Share</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityShare</objectType>
    </variables>
</Flow>
