force-app/main/default/flows/Create_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Price_Summary_sync</name>
        <label>Create Price Summary (sync)</label>
        <locationX>1317</locationX>
        <locationY>927</locationY>
        <actionName>Create_Price_Summary</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_12_month_Price_Summary</targetReference>
        </connector>
        <inputParameters>
            <name>priceId</name>
            <value>
                <elementReference>VAR_Price_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Create_Set</name>
        <label>Add to Create Set</label>
        <locationX>1695</locationX>
        <locationY>1420</locationY>
        <assignmentItems>
            <assignToReference>SCOL_Create_QLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_QLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Price_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UAO_Update</name>
        <label>Add to UAO Update</label>
        <locationX>1511</locationX>
        <locationY>1673</locationY>
        <assignmentItems>
            <assignToReference>SCOL_UAO_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_UAO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_UAO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UAO_Update_Set</name>
        <label>Add to UAO Update Set</label>
        <locationX>836</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>SCOL_UAO_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_UAO_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Utility_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UAO_Update_Set2</name>
        <label>Add to UAO Update Set</label>
        <locationX>543</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>SCOL_UAO_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_UAO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_UAOs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UAQ_Set</name>
        <label>Add to UAQ Set</label>
        <locationX>2025</locationX>
        <locationY>840</locationY>
        <assignmentItems>
            <assignToReference>SCOL_Utility_Account_Quote</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_UAQ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Utility_Accounts_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_UAO_to_Update_Set</name>
        <label>Add UAO to Update Set</label>
        <locationX>755</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>SCOL_UAO_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_UAO_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID</name>
        <label>Assign ID</label>
        <locationX>755</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>VAR_Previous_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_Term_Price.Utility_Account_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Term_Prices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QLI_Values</name>
        <label>Assign QLI Values</label>
        <locationX>1964</locationX>
        <locationY>1420</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_QLI.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Quote_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_QLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_QLI.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PriceBookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_QLI.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_QLI.Term_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_Summary_Price.Term_months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_QLI.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FRM_Sales_Margin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_QLI.Total_Usage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_Summary_Price.Cumulative_Volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_QLI.Base_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_Summary_Price.Base_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_QLI.Sales_Margin_per_unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Sales_Margin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_QLI.Broker_Margin_per_unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Broker_Margin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Create_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UAO_Count</name>
        <label>Assign UAO Count</label>
        <locationX>336</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>VAR_UAO_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SCOL_UAOs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Utility_Account_Volume_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UAO_ID</name>
        <label>Assign UAO ID</label>
        <locationX>530</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_UAO_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_Term_Price.Utility_Account_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAO_Update.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Priced</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_UAO_to_Update_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UAO_Status</name>
        <label>Assign UAO Status</label>
        <locationX>694</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Priced</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UAO_Update_Set2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UAQ</name>
        <label>Assign UAQ</label>
        <locationX>2090</locationX>
        <locationY>1011</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_UAQ.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Quote_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAQ.Utility_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_UAO.Utility_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAQ.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FRM_UAO_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UAQ_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Status</name>
        <label>Clear Status</label>
        <locationX>1516</locationX>
        <locationY>1809</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Temp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UAO_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_UAO_Update</name>
        <label>Clear UAO Update</label>
        <locationX>688</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>SCOL_UAO_Update</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Utility_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_UAO_Update2</name>
        <label>Clear UAO Update</label>
        <locationX>767</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>SCOL_UAO_Update</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Term_Prices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_UAO_Update_2</name>
        <label>Clear UAO Update</label>
        <locationX>1746</locationX>
        <locationY>1637</locationY>
        <assignmentItems>
            <assignToReference>SCOL_UAO_Update</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_UAO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populates the SCOL_UAO_Temp collection variable with the utility accounts that are included in the Price data</description>
        <name>Populate_SCOL_UAO_Temp</name>
        <label>Populate SCOL UAO Temp</label>
        <locationX>671</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>SCOL_UAO_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SCOL_UAO_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_UAO_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_UAO_Status_to_Priced</name>
        <label>Set UAO Status to Priced</label>
        <locationX>928</locationX>
        <locationY>1251</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_UAO_Update.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Priced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAO_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_UAO.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UAO_Update_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the variables for utility accounts that were selected as excluded</description>
        <name>Set_UAO_Status_to_Priced_Excluded</name>
        <label>Set UAO Status to Priced - Excluded</label>
        <locationX>1139</locationX>
        <locationY>1301</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_UAO_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_UAO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAO_Update.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Priced - Excluded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UAO_Update_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Margins</name>
        <label>Update Margins</label>
        <locationX>1615</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>VAR_Broker_Margin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Broker_Margin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Sales_Margin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Margin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_5</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PriceBook2Id</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01s3i0000022f4lAAA</stringValue>
        </value>
    </constants>
    <constants>
        <name>PriceBookEntryId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01u3i0000012WpdAAE</stringValue>
        </value>
    </constants>
    <constants>
        <name>ProductId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>01t3i000000SHwdAAG</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Used to exit loop if no utility accounts were selected for exclusion</description>
        <name>Check_for_Exclusions</name>
        <label>Check for Exclusions</label>
        <locationX>1012</locationX>
        <locationY>875</locationY>
        <defaultConnector>
            <targetReference>Check_Utility_Account_for_Exclusion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Accounts_to_Exclude</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Price_Summary</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Term</name>
        <label>Check Term</label>
        <locationX>1952</locationX>
        <locationY>1259</locationY>
        <defaultConnector>
            <targetReference>Loop_Price_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SOBJ_Summary_Price.Term_months__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SOBJ_Summary_Price.Term_months__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SOBJ_Summary_Price.Term_months__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>18.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SOBJ_Summary_Price.Term_months__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SOBJ_Summary_Price.Term_months__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SOBJ_Summary_Price.Term_months__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>36.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Sweet_Spot_Prices</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SOBJ_Summary_Price.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_QLI_Values</targetReference>
            </connector>
            <label>Selected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the loop variable to see if it was selected as a utility account to be excluded</description>
        <name>Check_Utility_Account_for_Exclusion</name>
        <label>Check Utility Account for Exclusion</label>
        <locationX>1014</locationX>
        <locationY>1131</locationY>
        <defaultConnector>
            <targetReference>Set_UAO_Status_to_Priced</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Excluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Accounts_to_Exclude</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SOBJ_UAO.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_UAO_Status_to_Priced_Excluded</targetReference>
            </connector>
            <label>Excluded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Check</name>
        <label>Duplicate Check</label>
        <locationX>521</locationX>
        <locationY>747</locationY>
        <defaultConnector>
            <targetReference>Assign_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOBJ_Term_Price.Utility_Account_Opportunity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>VAR_Previous_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_UAO_ID</targetReference>
            </connector>
            <label>Unique</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_Data_Check</name>
        <label>Price Data Check</label>
        <locationX>191</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Price_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Price_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_1b</targetReference>
            </connector>
            <label>No Price Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>Utility_Account_Volume_Check</name>
        <label>Utility Account Volume Check</label>
        <locationX>455</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Loop_UAOs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Small</defaultConnectorLabel>
        <rules>
            <name>Big</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_UAO_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_12_month_Price_Summary</targetReference>
            </connector>
            <label>Big</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RCS_Price_Summary</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Price_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term_months__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Term_months__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Term_months__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Term_months__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Term_months__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Term_months__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>36.0</numberValue>
            </value>
        </filters>
        <object>Price_Summary__c</object>
        <sortField>Base_Price__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Prices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Price__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Utility_Accounts</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Priced</stringValue>
            </value>
        </filters>
        <object>Utility_Account_Opportunity__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FRM_Annualised_Sales_Margin</name>
        <dataType>Currency</dataType>
        <expression>{!VAR_Sales_Margin} * {!VAR_Annual_Volume}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FRM_Sales_Margin</name>
        <dataType>Currency</dataType>
        <expression>{!SOBJ_Summary_Price.Cumulative_Volume__c} * {!VAR_Sales_Margin}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FRM_Tax_POR_Factor</name>
        <dataType>Number</dataType>
        <expression>({!VAR_Tax_x_Vol} / {!VAR_Annual_Volume}) * ( {!VAR_POR_x_Vol} / {!VAR_Annual_Volume})</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>FRM_UAO_Status</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!SOBJ_UAO.Status__c})=&quot;&quot;,&quot;Not Priced&quot;,TEXT({!SOBJ_UAO.Status__c}))</expression>
    </formulas>
    <interviewLabel>Create Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote</label>
    <loops>
        <name>Loop_Price_Summary</name>
        <label>Loop Price Summary</label>
        <locationX>1696</locationX>
        <locationY>1251</locationY>
        <assignNextValueToReference>SOBJ_Summary_Price</assignNextValueToReference>
        <collectionReference>Get_Price_Summary</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Term</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Term_Prices</name>
        <label>Loop Term Prices</label>
        <locationX>529</locationX>
        <locationY>910</locationY>
        <assignNextValueToReference>SOBJ_Term_Price</assignNextValueToReference>
        <collectionReference>Get_Term_Prices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Duplicate_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_UAO_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_UAO</name>
        <label>Loop UAO</label>
        <locationX>1649</locationX>
        <locationY>1801</locationY>
        <assignNextValueToReference>SOBJ_UAO</assignNextValueToReference>
        <collectionReference>Get_UAO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clear_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Clear_UAO_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_UAOs</name>
        <label>Loop UAOs</label>
        <locationX>613</locationX>
        <locationY>298</locationY>
        <assignNextValueToReference>SOBJ_UAO</assignNextValueToReference>
        <collectionReference>SCOL_UAOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_UAO_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_UAOs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This loop runs through all included utility accounts (in the price data) and updates the excluded utility accounts from screen 2.</description>
        <name>Loop_Utility_Accounts</name>
        <label>Loop Utility Accounts</label>
        <locationX>828</locationX>
        <locationY>1081</locationY>
        <assignNextValueToReference>SOBJ_UAO</assignNextValueToReference>
        <collectionReference>SCOL_UAO_Temp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Exclusions</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_UAO_Exclusions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Utility_Accounts_Quote</name>
        <label>Loop Utility Accounts (Quote)</label>
        <locationX>2007</locationX>
        <locationY>1104</locationY>
        <assignNextValueToReference>SOBJ_UAO</assignNextValueToReference>
        <collectionReference>Get_UAO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_UAQ</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_UAQ</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>1697</locationX>
        <locationY>949</locationY>
        <assignRecordIdToReference>VAR_Quote_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_UAO</targetReference>
        </connector>
        <inputAssignments>
            <field>Annual_Volume_kWh__c</field>
            <value>
                <elementReference>VAR_Annual_Volume</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker_Margin_per_kWh__c</field>
            <value>
                <elementReference>VAR_Broker_Margin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>New Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POR_Tax_Adjustment__c</field>
            <value>
                <elementReference>FRM_Tax_POR_Factor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>VAR_Price_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PriceBook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Margin_per_kWh__c</field>
            <value>
                <elementReference>VAR_Sales_Margin</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Line_Items</name>
        <label>Create Quote Line Items</label>
        <locationX>1499</locationX>
        <locationY>1381</locationY>
        <connector>
            <targetReference>Set_Quote_to_Sync</targetReference>
        </connector>
        <inputReference>SCOL_Create_QLI</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_UAQ</name>
        <label>Create UAQ</label>
        <locationX>1840</locationX>
        <locationY>1097</locationY>
        <connector>
            <targetReference>Get_Price_Summary</targetReference>
        </connector>
        <inputReference>SCOL_Utility_Account_Quote</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_12_month_Price_Summary</name>
        <label>Get 12 month Price Summary</label>
        <locationX>1430</locationX>
        <locationY>788</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Price_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Term_months__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </filters>
        <object>Price_Summary__c</object>
        <outputAssignments>
            <assignToReference>VAR_Annual_Volume</assignToReference>
            <field>Cumulative_Volume__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VAR_POR_x_Vol</assignToReference>
            <field>POR_x_Volume__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VAR_Tax_x_Vol</assignToReference>
            <field>Tax_x_Volume__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Price_Data</name>
        <label>Get Latest Price Data</label>
        <locationX>199</locationX>
        <locationY>147</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Data_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Price__c</object>
        <outputAssignments>
            <assignToReference>VAR_Price_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>332</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UAOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>VAR_Broker_Margin</assignToReference>
            <field>Broker_Margin__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VAR_PriceBook2Id</assignToReference>
            <field>Pricebook2Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Summary</name>
        <label>Get Price Summary</label>
        <locationX>1696</locationX>
        <locationY>1097</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Price_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Price_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Price_Summary__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Term_months__c</queriedFields>
        <queriedFields>Base_Price__c</queriedFields>
        <queriedFields>Volume_kWh__c</queriedFields>
        <queriedFields>Cumulative_Volume__c</queriedFields>
        <sortField>Base_Price__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Term_Prices</name>
        <label>Get Term Prices</label>
        <locationX>417</locationX>
        <locationY>848</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Term_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Price_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Term_Price__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Utility_Account_Opportunity__c</queriedFields>
        <sortField>Utility_Account_Opportunity__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UAO</name>
        <label>Get UAO</label>
        <locationX>1848</locationX>
        <locationY>949</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Utility_Accounts_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Utility_Account_Opportunity__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Utility_Account__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UAOs</name>
        <label>Get UAOs</label>
        <locationX>333</locationX>
        <locationY>606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_UAO_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Utility_Account_Opportunity__c</object>
        <outputReference>SCOL_UAOs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Clear_UAO_Status</name>
        <label>Clear UAO Status</label>
        <locationX>1653</locationX>
        <locationY>1973</locationY>
        <connector>
            <targetReference>Screen_6</targetReference>
        </connector>
        <inputReference>SCOL_UAO_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Quote_to_Sync</name>
        <label>Set Quote to Sync</label>
        <locationX>1500</locationX>
        <locationY>1540</locationY>
        <connector>
            <targetReference>Clear_UAO_Update_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Quoting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>VAR_Quote_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UAO_Exclusions</name>
        <label>Update UAO Exclusions</label>
        <locationX>956</locationX>
        <locationY>970</locationY>
        <connector>
            <targetReference>Clear_Price_Summary</targetReference>
        </connector>
        <inputReference>SCOL_UAO_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UAO_Status</name>
        <label>Update UAO Status</label>
        <locationX>531</locationX>
        <locationY>1081</locationY>
        <connector>
            <targetReference>Screen_2</targetReference>
        </connector>
        <inputReference>SCOL_UAO_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UAOs</name>
        <label>Update UAOs</label>
        <locationX>571</locationX>
        <locationY>181</locationY>
        <connector>
            <targetReference>Clear_UAO_Update2</targetReference>
        </connector>
        <inputReference>SCOL_UAO_Update</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>201</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <fields>
            <name>TXT_Screen_1</name>
            <fieldText>&lt;p&gt;Use this component to create a new Quote.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can only use the &lt;b&gt;most recent Price data&lt;/b&gt; to create a Quote.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &apos;Next&apos; to start.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1b</name>
        <label>Screen 1b</label>
        <locationX>50</locationX>
        <locationY>283</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TXT_screen_1b</name>
            <fieldText>&lt;p&gt;There is no pricing data available for this opportunity.  Please wait for pricing to upload price data before trying to create a quote.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>531</locationX>
        <locationY>1247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Populate_SCOL_UAO_Temp</targetReference>
        </connector>
        <fields>
            <name>TXT_Screen_2</name>
            <fieldText>&lt;p&gt;The below list will only show Utility Accounts that were included in the Price file that you selected on the previous screen.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can use the below list to &lt;b&gt;exclude&lt;/b&gt; certain Utility Accounts from the Quote.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Accounts_to_Exclude</name>
            <choiceReferences>RCS_Utility_Accounts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Accounts to Exclude</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>1516</locationX>
        <locationY>971</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_4</targetReference>
        </connector>
        <fields>
            <name>TXT_Screen_3</name>
            <fieldText>&lt;p&gt;The 6 default terms will be added to the Quote automatically.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can use the below list to select additional &apos;Sweet Spot&apos; prices that you would like include in the Quote.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;You do not need to any additional prices if you don&apos;t want to.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Sweet_Spot_Prices</name>
            <choiceReferences>RCS_Price_Summary</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Sweet Spot Prices</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_4</name>
        <label>Screen 4</label>
        <locationX>1551</locationX>
        <locationY>792</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Margins</targetReference>
        </connector>
        <fields>
            <name>TXT_Screen_4</name>
            <fieldText>&lt;p&gt;Use the below fields to update the sales margin and broker margin respectively.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The total Tax and POR adjustment factor for this Price is: &lt;b&gt;{!FRM_Tax_POR_Factor}.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sales_Margin</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>VAR_Sales_Margin</elementReference>
            </defaultValue>
            <fieldText>Sales Margin ($ Mils/kWh)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>4</scale>
        </fields>
        <fields>
            <name>Broker_Margin</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>VAR_Broker_Margin</elementReference>
            </defaultValue>
            <fieldText>Broker Margin ($ Mils/kWh)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>4</scale>
        </fields>
        <fields>
            <name>TXT_Screen_4_2</name>
            <fieldText>&lt;p&gt;Click &apos;Next&apos; to see the estimated deal value based on the margin value you enter above.  You can always click &apos;Previous&apos; to change the margin before creating the Quote.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_5</name>
        <label>Screen 5</label>
        <locationX>1696</locationX>
        <locationY>791</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <fields>
            <name>TXT_Screen_5</name>
            <fieldText>&lt;p&gt;Based on a sales margin of &lt;b&gt;{!VAR_Sales_Margin}&lt;/b&gt;, you are expected to make &lt;b&gt;{!FRM_Annualised_Sales_Margin}&lt;/b&gt; of annualised margin on this opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &apos;Previous&apos; if you wish to change either margin values.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &apos;Next&apos; to generate your Quote.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_6</name>
        <label>Screen 6</label>
        <locationX>1843</locationX>
        <locationY>1973</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TXT_Screen_6</name>
            <fieldText>&lt;p&gt;Your Quote has been created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Finish to Exit.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>332</locationX>
        <locationY>163</locationY>
        <connector>
            <targetReference>Get_Latest_Price_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Clear_Price_Summary</name>
        <label>Clear Price Summary</label>
        <locationX>1192</locationX>
        <locationY>912</locationY>
        <connector>
            <targetReference>Create_Price_Summary_sync</targetReference>
        </connector>
        <flowName>Clear_Price_Summary</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>VAR_Price_ID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOL_Create_QLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>SCOL_Term_Prices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Term_Price__c</objectType>
    </variables>
    <variables>
        <name>SCOL_UAO_Temp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>SCOL_UAO_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>SCOL_UAOs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>SCOL_Utility_Account_Quote</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Quote__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_QLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>SOBJ_Summary_Price</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Summary__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_Term_Price</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Term_Price__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_UAO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_UAO_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_UAQ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Quote__c</objectType>
    </variables>
    <variables>
        <name>VAR_Annual_Volume</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VAR_Broker_Margin</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_POR_x_Vol</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>8</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Previous_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Price_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_PriceBook2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Quote_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Sales_Margin</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Tax_x_Vol</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>8</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Term_Price_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_UAO_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
