force-app/main/default/flows/Create_Price_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Create_Set</name>
        <label>Add to Create Set</label>
        <locationX>193</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>SCOL_Summary_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_Summary_Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Price_Summary_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Summary_Price_Variables</name>
        <label>Assign Summary Price Variables</label>
        <locationX>945</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_Summary_Price.Volume_kWh__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Summary_Volume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Summary_Price.Base_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FRM_Weighted_Base_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Summary_Price.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Summary_Price.Term_months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Term_Count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Summary_Price.Price_x_Vol__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Summary_Price_x_Volume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Summary_Price.Utility_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Count_Utility_Accounts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Summary_Price.Cumulative_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Summary_Cumulative_Volume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Summary_Price.Tax_x_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Tax_x_Volume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Summary_Price.POR_x_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_POR_x_Volume</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Summary_Variables_to_Update_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Summary_Price_Variables_2</name>
        <label>Assign Summary Price Variables 2</label>
        <locationX>192</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_Summary_Price.Volume_kWh__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Summary_Volume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Summary_Price.Base_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FRM_Weighted_Base_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Summary_Price.Term_months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Term_Count</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Summary_Price.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Summary_Price.Cumulative_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Summary_Cumulative_Volume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Summary_Price.POR_x_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_POR_x_Volume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Summary_Price.Tax_x_Volume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Tax_x_Volume</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Create_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Summary_Values</name>
        <label>Assign Summary Values</label>
        <locationX>736</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>VAR_Summary_Volume</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_Term_Price.Volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Summary_Price_x_Volume</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_Term_Price.Price_x_Vol__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Count_Utility_Accounts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Summary_Cumulative_Volume</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_Term_Price.Cumulative_Volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_POR_x_Volume</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_Term_Price.POR_x_Volume__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Tax_x_Volume</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_Term_Price.Tax_x_Volume__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Term_Prices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Summary_Variables_to_Update_Set</name>
        <label>Assign Summary Variables to Update Set</label>
        <locationX>740</locationX>
        <locationY>540</locationY>
        <assignmentItems>
            <assignToReference>SCOL_Summary_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_Summary_Price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Variables</name>
        <label>Clear Variables</label>
        <locationX>371</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>VAR_Summary_Price_x_Volume</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Summary_Volume</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Count_Utility_Accounts</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Summary_Cumulative_Volume</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_POR_x_Volume</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Tax_x_Volume</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Term_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Term_Count</name>
        <label>Increment Term Count</label>
        <locationX>375</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>VAR_Term_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Term_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Variables</name>
        <label>Check Variables</label>
        <locationX>730</locationX>
        <locationY>392</locationY>
        <defaultConnector>
            <targetReference>Assign_Summary_Price_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Summary_Volume</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Term_Count</targetReference>
            </connector>
            <label>No Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>Term_Check</name>
        <label>Term Check</label>
        <locationX>728</locationX>
        <locationY>238</locationY>
        <defaultConnector>
            <targetReference>Check_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOBJ_Term_Price.Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VAR_Term_Count</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Summary_Values</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <formulas>
        <name>FRM_Weighted_Base_Price</name>
        <dataType>Currency</dataType>
        <expression>{!VAR_Summary_Price_x_Volume} / {!VAR_Summary_Cumulative_Volume}</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>FRM_Weighted_POR</name>
        <dataType>Number</dataType>
        <expression>{!VAR_POR_x_Volume}/ {!VAR_Summary_Cumulative_Volume}</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>FRM_Weighted_Tax</name>
        <dataType>Number</dataType>
        <expression>{!VAR_Tax_x_Volume} / {!VAR_Summary_Cumulative_Volume}</expression>
        <scale>8</scale>
    </formulas>
    <interviewLabel>Create Price Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Price Summary</label>
    <loops>
        <name>Loop_Term_Prices</name>
        <label>Loop Term Prices</label>
        <locationX>377</locationX>
        <locationY>131</locationY>
        <assignNextValueToReference>SOBJ_Term_Price</assignNextValueToReference>
        <collectionReference>Get_Term_Prices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Term_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Summary_Price_Variables_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Price_Summary_Records</name>
        <label>Create Price Summary Records</label>
        <locationX>193</locationX>
        <locationY>531</locationY>
        <inputReference>SCOL_Summary_Create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Term_Prices</name>
        <label>Get Term Prices</label>
        <locationX>185</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Term_Prices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cumulative_Volume__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Price__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Term_Price__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Term__c</queriedFields>
        <queriedFields>Volume__c</queriedFields>
        <queriedFields>Base_Price__c</queriedFields>
        <queriedFields>Price_x_Vol__c</queriedFields>
        <queriedFields>Cumulative_Volume__c</queriedFields>
        <queriedFields>POR_x_Volume__c</queriedFields>
        <queriedFields>Tax_x_Volume__c</queriedFields>
        <sortField>Term__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Term_Prices</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOL_Blank_Term_Prices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Term_Price__c</objectType>
    </variables>
    <variables>
        <name>SCOL_Summary_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Summary__c</objectType>
    </variables>
    <variables>
        <name>SCOL_Term_Prices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Term_Price__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_Summary_Price</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Price_Summary__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_Term_Price</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Term_Price__c</objectType>
    </variables>
    <variables>
        <name>VAR_Count_Utility_Accounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_POR_x_Volume</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>8</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Summary_Cumulative_Volume</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Summary_Price_x_Volume</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>8</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Summary_Volume</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Tax_x_Volume</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>8</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Term_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
