force-app/main/default/flows/Create_Utility_Account_Pricing_Request_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>144</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>SCOL_UAPR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_UAPR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Utility_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UAPR_Variables</name>
        <label>Assign UAPR Variables</label>
        <locationX>240</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_UAPR.Utility_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_Utility_Account_Opps.Utility_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAPR.Pricing_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Pricing_Request</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Utility Account Pricing Request Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Utility Account Pricing Request Records</label>
    <loops>
        <name>Loop_Utility_Accounts</name>
        <label>Loop Utility Accounts</label>
        <locationX>50</locationX>
        <locationY>331</locationY>
        <assignNextValueToReference>SOBJ_Utility_Account_Opps</assignNextValueToReference>
        <collectionReference>Get_Utility_Acounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_UAPR_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_UAPRs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_UAPRs</name>
        <label>Create UAPRs</label>
        <locationX>43</locationX>
        <locationY>580</locationY>
        <inputReference>SCOL_UAPR</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Utility_Acounts</name>
        <label>Get Utility Acounts</label>
        <locationX>50</locationX>
        <locationY>187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Utility_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Opportunity_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Utility_Account_Opportunity__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Utility_Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Utility_Acounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SCOL_UAPR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Pricing__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_UAPR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Pricing__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_Utility_Account_Opps</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>VAR_Opportunity_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Pricing_Request</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
