force-app/main/default/flows/Create_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_UAO_Set</name>
        <label>Add to UAO Set</label>
        <locationX>1689</locationX>
        <locationY>174</locationY>
        <assignmentItems>
            <assignToReference>SCOL_Create_UAO</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_UAO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Utility_Account_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UAO_Set_0</name>
        <label>Add to UAO Set</label>
        <locationX>1566</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>SCOL_Create_UAO</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_UAO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Utility_Account_Opportunities_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Utility_Account</name>
        <label>Add Utility Account</label>
        <locationX>915</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>SCOL_Selected_Utility_Accounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_Utility_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Utility_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_State</name>
        <label>Assign State</label>
        <locationX>414</locationX>
        <locationY>430</locationY>
        <assignmentItems>
            <assignToReference>VAR_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Utility_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Utility</name>
        <label>Assign Utility</label>
        <locationX>875</locationX>
        <locationY>82</locationY>
        <assignmentItems>
            <assignToReference>VAR_Utility_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_Utility_Account.Utility__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Utility_Account_to_Selected_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Utility_Account_Record_Count</name>
        <label>Assign Utility Account Record Count</label>
        <locationX>521</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>VAR_UA_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SCOL_Utility_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Zero_Utility_Accoiunts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Utility_Account_to_Selected_List</name>
        <label>Assign Utility Account to Selected List</label>
        <locationX>950</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>SCOL_Selected_Utility_Accounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_Utility_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Utility_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Utility_ID</name>
        <label>Assign Utility ID</label>
        <locationX>814</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>VAR_Utility_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_Utility_Account.Utility__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Utility_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>1883</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Opp_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Utility_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_Selected_Utility_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Priced</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UAO_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables_0</name>
        <label>Assign Variables</label>
        <locationX>1702</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Opp_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Utility_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_Selected_Utility_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Priced</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UAO_Set_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CH_All</name>
        <choiceText>Add all Utility Accounts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Dual_Bill</name>
        <choiceText>Dual Bill</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dual Bill</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_NY</name>
        <choiceText>NY</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NY</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_OH</name>
        <choiceText>OH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OH</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_PA</name>
        <choiceText>PA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PA</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_POR</name>
        <choiceText>POR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>POR</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Select_Utility_Accounts</name>
        <choiceText>Select individual Utility Accounts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Some</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_for_Zero_Utility_Accoiunts</name>
        <label>Check for Zero Utility Accoiunts</label>
        <locationX>515</locationX>
        <locationY>834</locationY>
        <defaultConnector>
            <targetReference>Screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Utility_Accounts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_UA_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error1</targetReference>
            </connector>
            <label>No Utility Accounts Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Pricing_Request</name>
        <label>Create Pricing Request?</label>
        <locationX>1197</locationX>
        <locationY>531</locationY>
        <defaultConnector>
            <targetReference>Create_Opportunity_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Submit_to_Pricing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Pricing_Request_Subflow</targetReference>
            </connector>
            <label>Create Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>State_Already_Set</name>
        <label>State Already Set?</label>
        <locationX>384</locationX>
        <locationY>173</locationY>
        <defaultConnector>
            <targetReference>Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_State</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Utility_Accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Utility_Account_Selected</name>
        <label>Was Utility Account Selected?</label>
        <locationX>699</locationX>
        <locationY>81</locationY>
        <defaultConnector>
            <targetReference>Loop_Utility_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_the_Utility_Accounts_you_wish_to_add</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SOBJ_Utility_Account.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Utility</targetReference>
            </connector>
            <label>Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Utility_Accounts_were_selected</name>
        <label>Which Utility Accounts were selected?</label>
        <locationX>698</locationX>
        <locationY>524</locationY>
        <defaultConnector>
            <targetReference>Screen_Select_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Some</defaultConnectorLabel>
        <rules>
            <name>All_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_All_Utility_Accounts</targetReference>
            </connector>
            <label>All Accounts</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PCS_Bill_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Bill_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_Sale_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PCS_States</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>State__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Brokers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Broker</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Utility_Accounts</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Utility_State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_State</elementReference>
            </value>
        </filters>
        <object>Utility_Account__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FRM_Close_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()+7</expression>
    </formulas>
    <interviewLabel>Create Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity</label>
    <loops>
        <name>Loop_All_Utility_Accounts</name>
        <label>Loop All Utility Accounts</label>
        <locationX>868</locationX>
        <locationY>532</locationY>
        <assignNextValueToReference>SOBJ_Utility_Account</assignNextValueToReference>
        <collectionReference>SCOL_Utility_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Utility_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Utility_Account_Opportunities</name>
        <label>Loop Utility Account Opportunities</label>
        <locationX>1503</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>SOBJ_Selected_Utility_Accounts</assignNextValueToReference>
        <collectionReference>SCOL_Selected_Utility_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Utility_Account_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Utility_Account_Opportunities_0</name>
        <label>Loop Utility Account Opportunities</label>
        <locationX>1408</locationX>
        <locationY>699</locationY>
        <assignNextValueToReference>SOBJ_Selected_Utility_Accounts</assignNextValueToReference>
        <collectionReference>SCOL_Selected_Utility_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Variables_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Utility_Account_Opportunities_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Utility_Accounts</name>
        <label>Loop Utility Accounts</label>
        <locationX>707</locationX>
        <locationY>230</locationY>
        <assignNextValueToReference>SOBJ_Utility_Account</assignNextValueToReference>
        <collectionReference>SCOL_Utility_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Was_Utility_Account_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>1554</locationX>
        <locationY>368</locationY>
        <assignRecordIdToReference>VAR_Opp_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Utility_Account_Opportunities</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_Type__c</field>
            <value>
                <elementReference>Bill_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker_Margin__c</field>
            <value>
                <elementReference>Broker_Margin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker__c</field>
            <value>
                <elementReference>SOBJ_Customer.Broker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>FRM_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Expected_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>VAR_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Sale_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utility__c</field>
            <value>
                <elementReference>VAR_Utility_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_0</name>
        <label>Create Opportunity</label>
        <locationX>1199</locationX>
        <locationY>665</locationY>
        <assignRecordIdToReference>VAR_Opp_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Utility_Account_Opportunities_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_Type__c</field>
            <value>
                <elementReference>Bill_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker_Margin__c</field>
            <value>
                <elementReference>Broker_Margin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker__c</field>
            <value>
                <elementReference>SOBJ_Customer.Broker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>FRM_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Expected_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>VAR_State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Sale_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utility__c</field>
            <value>
                <elementReference>VAR_Utility_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Utility_Account_Opportunities</name>
        <label>Create Utility Account Opportunities</label>
        <locationX>1295</locationX>
        <locationY>106</locationY>
        <connector>
            <targetReference>Assign_OppId_to_Pricing_Req</targetReference>
        </connector>
        <inputReference>SCOL_Create_UAO</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Utility_Account_Opportunities_0</name>
        <label>Create Utility Account Opportunities</label>
        <locationX>1413</locationX>
        <locationY>927</locationY>
        <connector>
            <targetReference>Complete2</targetReference>
        </connector>
        <inputReference>SCOL_Create_UAO</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Customer_Details</name>
        <label>Get Customer Details</label>
        <locationX>557</locationX>
        <locationY>190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>State_Already_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SOBJ_Customer</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Broker__c</queriedFields>
        <queriedFields>Broker_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Utility_Accounts</name>
        <label>Get Utility Accounts</label>
        <locationX>557</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Utility_Account_Record_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Utility_State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_State</elementReference>
            </value>
        </filters>
        <object>Utility_Account__c</object>
        <outputReference>SCOL_Utility_Accounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Utility__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Assign_OppId_to_Pricing_Req</name>
        <label>Assign OppId to Pricing_Req</label>
        <locationX>1274</locationX>
        <locationY>267</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pricing_Req_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>VAR_Opp_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Pricing_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Complete2</name>
        <label>Complete2</label>
        <locationX>1631</locationX>
        <locationY>927</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TXT_Complete2</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Success!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Opportunity has been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error1</name>
        <label>Error1</label>
        <locationX>517</locationX>
        <locationY>1010</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TXT_Error1</name>
            <fieldText>&lt;p&gt;There are no Utility Accounts for the Customer in that State in the system.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You are unable to create an Opportunity without any Utility Accounts being present.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please run the &apos;Add Utility Accounts&apos; process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>706</locationX>
        <locationY>679</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Utility_Accounts_were_selected</targetReference>
        </connector>
        <fields>
            <name>TXT_Screen1</name>
            <fieldText>&lt;p&gt;There are {!VAR_UA_Count} Utility Account(s) for this Customer.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select which Utility Accounts you wish to add to the Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selection</name>
            <choiceReferences>CH_All</choiceReferences>
            <choiceReferences>CH_Select_Utility_Accounts</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CH_All</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>1042</locationX>
        <locationY>392</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Pricing_Request</targetReference>
        </connector>
        <fields>
            <name>TXT_Screen2</name>
            <fieldText>&lt;p&gt;Complete the below fields to create an Opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Opportunity will be assigned to  broker &apos;&lt;b&gt;{!VAR_Account_Broker}&lt;/b&gt;&apos; based on the details held on the Customer record.  If this is incorrect, please cancel this process, update the Customer record and start again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sale_Type</name>
            <choiceReferences>PCS_Sale_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sale Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Bill_Type</name>
            <choiceReferences>CH_POR</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CH_POR</defaultSelectedChoiceReference>
            <fieldText>Bill Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expected_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Expected Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Broker_Margin</name>
            <dataType>Currency</dataType>
            <fieldText>Broker Margin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>4</scale>
        </fields>
        <fields>
            <name>Submit_to_Pricing</name>
            <choiceReferences>CH_Yes</choiceReferences>
            <choiceReferences>CH_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CH_Yes</defaultSelectedChoiceReference>
            <fieldText>Submit to Pricing?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_0</name>
        <label>Screen 0</label>
        <locationX>221</locationX>
        <locationY>298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_State</targetReference>
        </connector>
        <fields>
            <name>TXT_Screen0</name>
            <fieldText>&lt;p&gt;Each Opportunity record must be for Utility Accounts in a single state.  Please use the below list to select which state you would like to select Utility Accounts from.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>State</name>
            <choiceReferences>CH_NY</choiceReferences>
            <choiceReferences>CH_OH</choiceReferences>
            <choiceReferences>CH_PA</choiceReferences>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Select_Accounts</name>
        <label>Screen_Select_Accounts</label>
        <locationX>706</locationX>
        <locationY>360</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Utility_Accounts</targetReference>
        </connector>
        <fields>
            <name>Select_the_Utility_Accounts_you_wish_to_add</name>
            <choiceReferences>RCS_Utility_Accounts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Utility Accounts you wish to add:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>359</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Get_Customer_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Pricing_Request_Subflow</name>
        <label>Create Pricing Request Subflow</label>
        <locationX>1423</locationX>
        <locationY>534</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <flowName>Create_Pricing_Request</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>VAR_Opp_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_Start_Date</name>
            <value>
                <elementReference>Expected_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Pricing_Req_record</assignToReference>
            <name>Pricing_Request_record</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Pricing_Req_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricing_Request__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOL_Create_UAO</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>SCOL_Selected_Utility_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account__c</objectType>
    </variables>
    <variables>
        <name>SCOL_Utility_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_Customer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SOBJ_Selected_Utility_Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_UAO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_Utility_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account__c</objectType>
    </variables>
    <variables>
        <name>VAR_Account_Broker</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SOBJ_Customer.Broker_Name__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>VAR_Opp_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Price_Request_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_UA_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Utility_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
