force-app/main/default/flows/Create_Pricing_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Start_Date</name>
        <label>Assign Start Date</label>
        <locationX>266</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>VAR_Start_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyRecord.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Pricing_Request</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DefaultChoice</name>
        <choiceText>Fixed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fixed</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Opportunity_Exists</name>
        <label>Opportunity Exists?</label>
        <locationX>540</locationX>
        <locationY>210</locationY>
        <defaultConnector>
            <targetReference>Create_Pricing_Request_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpptyRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Pricing_Request_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Start_Date_Populated</name>
        <label>Start Date Populated?</label>
        <locationX>108</locationX>
        <locationY>260</locationY>
        <defaultConnector>
            <targetReference>Assign_Start_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Start_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Pricing_Request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Product_Choices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>DefaultChoice</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Product_Family</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Family</picklistField>
        <picklistObject>Product2</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Selected_PRODUCT</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </filters>
        <object>Product2</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create Pricing Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Pricing Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Pricing_Request_Record</name>
        <label>Create Pricing Request Record</label>
        <locationX>697</locationX>
        <locationY>32</locationY>
        <assignRecordIdToReference>Pricing_Request_record.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Pricing_Request_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpptyRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Lookup__c</field>
            <value>
                <elementReference>Get_Product_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue>Refresh</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgent_Request__c</field>
            <value>
                <elementReference>Urgent_Request</elementReference>
            </value>
        </inputAssignments>
        <object>Pricing_Request__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Pricing_Request_Record_0</name>
        <label>Create Pricing Request Record</label>
        <locationX>547</locationX>
        <locationY>395</locationY>
        <assignRecordIdToReference>Pricing_Request_record.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Pricing_Request_Success_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpptyRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Lookup__c</field>
            <value>
                <elementReference>Get_Product_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <stringValue>Initial Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Urgent_Request__c</field>
            <value>
                <elementReference>Urgent_Request</elementReference>
            </value>
        </inputAssignments>
        <object>Pricing_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>109</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Start_Date_Populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpptyRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Id</name>
        <label>Get Product Id</label>
        <locationX>548</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Please_select_the_applicable_Product</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Pricing_Request</name>
        <label>Create Pricing Request</label>
        <locationX>230</locationX>
        <locationY>32</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_Product_Components</targetReference>
        </connector>
        <fields>
            <name>Opportunity</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Opportunity&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!OpptyRecord.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product</name>
            <choiceReferences>Product_Family</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Family</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>VAR_Start_Date</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Urgent_Request</name>
            <dataType>Boolean</dataType>
            <fieldText>Urgent Request</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Pricing_Request_Success</name>
        <label>Create Pricing Request Success</label>
        <locationX>841</locationX>
        <locationY>32</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thank_You_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Pricing Request Record has been created Successfully !&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Pricing_Request_Success_0</name>
        <label>Create Pricing Request Success</label>
        <locationX>712</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thank_You_Screen_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Pricing Request Record has been created Successfully !&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Product_Components</name>
        <label>Select Product Components</label>
        <locationX>374</locationX>
        <locationY>32</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Product_Id</targetReference>
        </connector>
        <fields>
            <name>Please_select_the_applicable_Product</name>
            <choiceReferences>Selected_PRODUCT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the applicable Product</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>14</locationX>
        <locationY>32</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CapacityReset</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Capacity Reset</stringValue>
        </value>
    </variables>
    <variables>
        <name>OpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpptyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Pricing_Request_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Pricing_Request__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Start_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
