force-app/main/default/flows/Create_Utility_Account_Enrollment_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Create_Set</name>
        <label>Add to Create Set</label>
        <locationX>358</locationX>
        <locationY>659</locationY>
        <assignmentItems>
            <assignToReference>SCOL_UAE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_UAE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_UAC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>461</locationX>
        <locationY>487</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_UAE.Utility_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_UAC.Utility_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAE.Enrollment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Enrollment_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAE.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Enrollment Request Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAE.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_UAC.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Create_Set</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Utility Account Enrollment Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Utility Account Enrollment Records</label>
    <loops>
        <name>Loop_UAC</name>
        <label>Loop UAC</label>
        <locationX>234</locationX>
        <locationY>488</locationY>
        <assignNextValueToReference>SOBJ_UAC</assignNextValueToReference>
        <collectionReference>Get_UAC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_UAE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_UAE</name>
        <label>Create UAE</label>
        <locationX>468</locationX>
        <locationY>309</locationY>
        <inputReference>SCOL_UAE</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Enrollment</name>
        <label>Get Enrollment</label>
        <locationX>176</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Enrollment_ID</elementReference>
            </value>
        </filters>
        <object>Enrollment__c</object>
        <outputAssignments>
            <assignToReference>VAR_Contract_ID</assignToReference>
            <field>Contract__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_UAC</name>
        <label>Get UAC</label>
        <locationX>180</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_UAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Contract_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Utility_Account_Contract__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Utility_Account__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Enrollment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SCOL_UAE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_UAC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Contract__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_UAE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>VAR_Contract_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Enrollment_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
