force-app/main/default/flows/Create_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Customer_Agreement</name>
        <label>Generate Customer Agreement</label>
        <locationX>2125</locationX>
        <locationY>1083</locationY>
        <actionName>CongaDocumentGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_5</targetReference>
        </connector>
        <inputParameters>
            <name>congaQuery</name>
            <value>
                <stringValue>[quoteutilityaccounts]a063i000004jWPX%3Fpv0%3D{!SyncedQuoteId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>congaTemplateId</name>
            <value>
                <elementReference>CongaTemplateId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fileName</name>
            <value>
                <elementReference>FileName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>generateDocumentAndSendEmail</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_in_List</name>
        <label>Add in List</label>
        <locationX>1710</locationX>
        <locationY>821</locationY>
        <assignmentItems>
            <assignToReference>UpdatedUAOs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Looper</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_UAOs_Status_with_UAQs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Delete_Set</name>
        <label>Add to Delete Set</label>
        <locationX>655</locationX>
        <locationY>760</locationY>
        <assignmentItems>
            <assignToReference>SCOL_Delete_Quote_lines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_ID</name>
        <label>Assign Contact ID</label>
        <locationX>1920</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>VAR_Contact_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_an_Existing_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opp_Contact_Role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Delete_Count</name>
        <label>Assign Delete Count</label>
        <locationX>1199</locationX>
        <locationY>202</locationY>
        <assignmentItems>
            <assignToReference>VAR_Delete_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SCOL_Delete_Quote_lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_Count_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Quote_ID</name>
        <label>Assign New Quote ID</label>
        <locationX>230</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>VAR_Quote_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_the_Quote_you_want_to_use</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Sync_d_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Line_Count</name>
        <label>Assign Quote Line Count</label>
        <locationX>885</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>VAR_Quote_Llne_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Quote_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Term</name>
        <label>Assign Selected Term</label>
        <locationX>899</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>VAR_Selected_Term</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_Line_Items.Term_Months__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Delete_SCOL</name>
        <label>Clear Temp Variables</label>
        <locationX>749</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>SCOL_Delete_Quote_lines</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Quote_Llne_Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Non_Selected_Quote_Line_Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Non_Selected_Quote_Line_Count</name>
        <label>Increment Non-Selected Quote Line Count</label>
        <locationX>938</locationX>
        <locationY>759</locationY>
        <assignmentItems>
            <assignToReference>VAR_Non_Selected_Quote_Line_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Delete_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sync_Status</name>
        <label>Sync Status</label>
        <locationX>1512</locationX>
        <locationY>836</locationY>
        <assignmentItems>
            <assignToReference>Looper.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UAQRec.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_in_List</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CH_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Please_Select</name>
        <choiceText>-- Please Select --</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>-- Please Select --</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Change_Sync_d_Quote</name>
        <label>Change Sync&apos;d Quote?</label>
        <locationX>223</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Change_Quote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_2</targetReference>
            </connector>
            <label>Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Selected</name>
        <label>Contact Selected?</label>
        <locationX>1505</locationX>
        <locationY>272</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Selected2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_an_Existing_Contact</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>-- Please Select --</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Selected_Contact</targetReference>
            </connector>
            <label>Contact Selected</label>
        </rules>
        <rules>
            <name>Contact_Error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Last_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>First_Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_x</targetReference>
            </connector>
            <label>Contact_Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Count_Check</name>
        <label>Delete Count Check</label>
        <locationX>1308</locationX>
        <locationY>235</locationY>
        <defaultConnector>
            <targetReference>Seleted_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Delete_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Force_Edit_Remaining_Quote_Line</targetReference>
            </connector>
            <label>Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Macth_UA_ID</name>
        <label>Macth UA ID</label>
        <locationX>1625</locationX>
        <locationY>1169</locationY>
        <defaultConnector>
            <targetReference>Update_UAOs_Status_with_UAQs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looper.Utility_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UAQRec.Utility_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sync_Status</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Primary_Contact_Found</name>
        <label>Primary Contact Found?</label>
        <locationX>1364</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>Update_Other_Quotes_to_Denied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Primary_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_6</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Line_Item</name>
        <label>Selected Line Item?</label>
        <locationX>1056</locationX>
        <locationY>591</locationY>
        <defaultConnector>
            <targetReference>Increment_Non_Selected_Quote_Line_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOBJ_Line_Items.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Which_option_is_being_taken</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Selected_Term</targetReference>
            </connector>
            <label>Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selection_Check</name>
        <label>Selection Check</label>
        <locationX>1026</locationX>
        <locationY>166</locationY>
        <defaultConnector>
            <targetReference>Assign_Delete_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FRM_Quote_Line_Check</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen4a</targetReference>
            </connector>
            <label>Not 1</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RCS_Contacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Account_ID</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>Contact</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Quote_Lines</name>
        <dataType>String</dataType>
        <displayField>Label__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Quote_ID</elementReference>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <sortField>Term_Months__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RCS_Quotes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>FileName</name>
        <dataType>String</dataType>
        <expression>{!AccountName} &amp;&quot; - &quot; &amp; {!Opportunity_Id} &amp; &quot; - &quot; &amp; TEXT( TODAY())</expression>
    </formulas>
    <formulas>
        <name>FRM_Quote_Line_Check</name>
        <dataType>Number</dataType>
        <expression>{!VAR_Quote_Llne_Count} - {!VAR_Non_Selected_Quote_Line_Count}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Contract</label>
    <loops>
        <name>Loop_Line_Items</name>
        <label>Loop Line Items</label>
        <locationX>1032</locationX>
        <locationY>389</locationY>
        <assignNextValueToReference>SOBJ_Line_Items</assignNextValueToReference>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Selected_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Selection_Check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>UAQLooper</name>
        <label>UAQLooper</label>
        <locationX>1904</locationX>
        <locationY>1009</locationY>
        <assignNextValueToReference>UAQRec</assignNextValueToReference>
        <collectionReference>Get_UAQs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Macth_UA_ID</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Update_UAOs_Status_with_UAQs</name>
        <label>Update UAOs Status with UAQs</label>
        <locationX>1856</locationX>
        <locationY>830</locationY>
        <assignNextValueToReference>Looper</assignNextValueToReference>
        <collectionReference>Get_UAOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UAQLooper</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_UAOs_with_updated_status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1692</locationX>
        <locationY>368</locationY>
        <assignRecordIdToReference>VAR_Contact_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Opp_Contact_Role</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>VAR_Account_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp_Contact_Role</name>
        <label>Create Opp Contact Role</label>
        <locationX>1901</locationX>
        <locationY>433</locationY>
        <assignRecordIdToReference>VAR_Contact_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Other_Quotes_to_Denied</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VAR_Contact_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordDeletes>
        <name>Seleted_Quote_Lines</name>
        <label>Seleted Quote Lines</label>
        <locationX>1135</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>Force_Edit_Remaining_Quote_Line</targetReference>
        </connector>
        <inputReference>SCOL_Delete_Quote_lines</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Customer_Record</name>
        <label>Get Customer Record</label>
        <locationX>1394</locationX>
        <locationY>715</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Primary_Contact_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Account_ID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>VAR_Primary_Contact</assignToReference>
            <field>Primary_Contact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>411</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>VAR_Account_ID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Account_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CongaTemplateId</assignToReference>
            <field>Customer_Agreement_Template__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Opportunity_Id</assignToReference>
            <field>Opportunity_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VAR_Start_Date</assignToReference>
            <field>Start_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SyncedQuoteId</assignToReference>
            <field>SyncedQuoteId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>656</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Quote_Line_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Quote_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Term_Months__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sync_d_Quote</name>
        <label>Get Sync&apos;d Quote</label>
        <locationX>236</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputAssignments>
            <assignToReference>VAR_Accounts_Quoted</assignToReference>
            <field>Accounts_Quoted__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VAR_Broker_Margin</assignToReference>
            <field>Broker_Margin_per_kWh__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VAR_Quote_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VAR_Syncd_Quote_Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VAR_Sales_Margin</assignToReference>
            <field>Sales_Margin_per_kWh__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_UAOs</name>
        <label>Get UAOs</label>
        <locationX>1781</locationX>
        <locationY>670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UAQs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Utility_Account_Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UAQs</name>
        <label>Get UAQs</label>
        <locationX>1931</locationX>
        <locationY>672</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_UAOs_Status_with_UAQs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Quote_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Utility_Account_Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Force_Edit_Remaining_Quote_Line</name>
        <label>Force Edit Remaining Quote Line</label>
        <locationX>1230</locationX>
        <locationY>514</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Which_option_is_being_taken</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Selected</stringValue>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1201</locationX>
        <locationY>682</locationY>
        <connector>
            <targetReference>Get_Customer_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Contracting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Other_Quotes_to_Denied</name>
        <label>Update Other Quotes to Denied</label>
        <locationX>1627</locationX>
        <locationY>517</locationY>
        <connector>
            <targetReference>Update_Selected_Quote_to_Accepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>VAR_Quote_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Selected_Contact</name>
        <label>Update Selected Contact</label>
        <locationX>1703</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Contact_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_an_Existing_Contact</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Selected_Quote_to_Accepted</name>
        <label>Update Selected Quote to Accepted</label>
        <locationX>1634</locationX>
        <locationY>667</locationY>
        <connector>
            <targetReference>Get_UAOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Quote_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sync_d_Quote</name>
        <label>Update Sync&apos;d Quote</label>
        <locationX>368</locationX>
        <locationY>629</locationY>
        <connector>
            <targetReference>Get_Sync_d_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Quoting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>VAR_Quote_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UAOs_with_updated_status</name>
        <label>Update UAOs with updated status</label>
        <locationX>2108</locationX>
        <locationY>832</locationY>
        <connector>
            <targetReference>Generate_Customer_Agreement</targetReference>
        </connector>
        <inputReference>UpdatedUAOs</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1812</locationX>
        <locationY>184</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_6</targetReference>
        </connector>
        <fields>
            <name>TXT_Error</name>
            <fieldText>&lt;p&gt;It looks like this contact may already exist in the system.  Please click &apos;Next&apos; and enter new details or select a contact from the list at the bottom of the screen.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Alternatively, close this process and add a contact to the Account manually.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>54</locationX>
        <locationY>391</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Change_Sync_d_Quote</targetReference>
        </connector>
        <fields>
            <name>TXT_Screen1</name>
            <fieldText>&lt;p&gt;You are about to prepare a Contract for the below Quote.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!VAR_Syncd_Quote_Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please ensure that this is the correct Quote to use.  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;If it isn&apos;t, you can select &apos;Yes&apos; below to change the quote.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Change_Quote</name>
            <choiceReferences>CH_Yes</choiceReferences>
            <choiceReferences>CH_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CH_No</defaultSelectedChoiceReference>
            <fieldText>Change Quote?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen4a</name>
        <label>Screen4a</label>
        <locationX>1377</locationX>
        <locationY>110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TXT_Screen4a</name>
            <fieldText>&lt;p&gt;&lt;b&gt;You must select 1 and only 1 quote term to take forward for contract.  &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &apos;Previous&apos; and update your selection.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>109</locationX>
        <locationY>629</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_New_Quote_ID</targetReference>
        </connector>
        <fields>
            <name>Select_the_Quote_you_want_to_use</name>
            <choiceReferences>RCS_Quotes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Quote you want to use</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>592</locationX>
        <locationY>304</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_4</targetReference>
        </connector>
        <fields>
            <name>TXT_Screen3</name>
            <fieldText>&lt;p&gt;ere are the commercial details of the quote you have selected.  Please review the details and ensure that they are correct before proceeding.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Start Date: {!VAR_Start_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Number of Utility Accounts Quoted: {!VAR_Accounts_Quoted}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;If you need to update any of these details, please go to the Quote record and make the necessary changes.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_4</name>
        <label>Screen 4</label>
        <locationX>801</locationX>
        <locationY>182</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Clear_Delete_SCOL</targetReference>
        </connector>
        <fields>
            <name>TXT_Screen4</name>
            <fieldText>&lt;p&gt;Only 1 quote term can be taken through to contract.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Which_option_is_being_taken</name>
            <choiceReferences>RCS_Quote_Lines</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which option is being taken?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TXT_Screen4_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please note that upon clicking &apos;Next&apos;, all other quote terms will be deleted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_5</name>
        <label>Screen 5</label>
        <locationX>2309</locationX>
        <locationY>1004</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TXT_Screen5</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Customer Contract is created and ready to be sent to the Customer for Signature.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Thanks!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_6</name>
        <label>Screen 6</label>
        <locationX>1391</locationX>
        <locationY>370</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Selected</targetReference>
        </connector>
        <fields>
            <name>TXT_Screen6</name>
            <fieldText>&lt;p&gt;There is no primary contact on this customer.  Please complete the below fields to create one.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is the person who will be sent the supply agreement to sign (by default).&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mobile</name>
            <dataType>String</dataType>
            <fieldText>Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TXT_Screen_6_2</name>
            <fieldText>&lt;p&gt;Alternatively, you can select an existing Contact from this customer to set as the Primary Contact:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_an_Existing_Contact</name>
            <choiceReferences>RCS_Contacts</choiceReferences>
            <choiceReferences>CH_Please_Select</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CH_Please_Select</defaultSelectedChoiceReference>
            <fieldText>Select an Existing Contact</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_x</name>
        <label>Screen_x</label>
        <locationX>1517</locationX>
        <locationY>114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Screen_6</targetReference>
        </connector>
        <fields>
            <name>TXT_Screenx</name>
            <fieldText>&lt;p&gt;You must enter a contact first name, last name and email address to create a new contact.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Alternatively, you can select an existing  contact from the list at the bottom of the screen.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click &apos;Next&apos; and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>261</locationY>
        <connector>
            <targetReference>Get_Sync_d_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CongaTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Looper</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>Opportunity_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOL_Delete_Quote_lines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>SOBJ_Line_Items</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>SyncedQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UAQRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Quote__c</objectType>
    </variables>
    <variables>
        <name>UpdatedUAOs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>VAR_Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Accounts_Quoted</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VAR_Broker_Margin</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>VAR_Contact_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Delete_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Non_Selected_Quote_Line_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Primary_Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Quote_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Quote_Llne_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Sales_Margin</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>VAR_Selected_Term</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Start_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Syncd_Quote_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
