force-app/main/default/flows/Create_Utility_Account_Contract_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Create_Set</name>
        <label>Add to Create Set</label>
        <locationX>336</locationX>
        <locationY>607</locationY>
        <assignmentItems>
            <assignToReference>SCOL_UAC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_UAC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Utility_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>426</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_UAC.Utility_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_UAQ.Utility_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAC.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Contract_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAC.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_UAQ.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAC.Annual_Usage_kWh__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_UAQ.Annual_Usage_kWh__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Create_Set</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Utility Account Contract Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Utility Account Contract Records</label>
    <loops>
        <name>Loop_Utility_Accounts</name>
        <label>Loop Utility Accounts</label>
        <locationX>213</locationX>
        <locationY>457</locationY>
        <assignNextValueToReference>SOBJ_UAQ</assignNextValueToReference>
        <collectionReference>Get_UAQ_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_UACs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_UACs</name>
        <label>Create UACs</label>
        <locationX>424</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>Get_Agreement</targetReference>
        </connector>
        <inputReference>SCOL_UAC</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Agreement</name>
        <label>Get Agreement</label>
        <locationX>554</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>echosign_dev1__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Opportunity_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>echosign_dev1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </filters>
        <object>echosign_dev1__SIGN_Agreement__c</object>
        <outputAssignments>
            <assignToReference>VAR_Agreement_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>103</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Contract_ID</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>VAR_Opportunity_ID</assignToReference>
            <field>Opportunity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>35</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UAQ_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Opportunity_ID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>VAR_QuoteID</assignToReference>
            <field>SyncedQuoteId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_UAQ_Records</name>
        <label>Get UAQ Records</label>
        <locationX>62</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Utility_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_QuoteID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Priced</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Utility_Account_Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>715</locationX>
        <locationY>178</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Contract_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signed_Agreement__c</field>
            <value>
                <elementReference>VAR_Agreement_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SCOL_UAC</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Contract__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_UAC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Contract__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_UAO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_UAQ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Quote__c</objectType>
    </variables>
    <variables>
        <name>VAR_Agreement_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Contract_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Opportunity_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
