force-app/main/default/flows/Current_Unit_Rate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Current_Rate</name>
        <label>Assign Current Rate</label>
        <locationX>641</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>VAR_Current_Rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contract_Rates.Total_Unit_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Effective_From</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contract_Rates.Effective_From_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contract_Rates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Next_Rate_Variables</name>
        <label>Assign Next Rate Variables</label>
        <locationX>905</locationX>
        <locationY>806</locationY>
        <assignmentItems>
            <assignToReference>VAR_Next_Rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contract_Rates.Total_Unit_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_Next_Rate_Effective_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contract_Rates.Effective_From_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contract_Rates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Current_Rate</name>
        <label>Check for Current Rate</label>
        <locationX>718</locationX>
        <locationY>1098</locationY>
        <defaultConnector>
            <targetReference>Contract_Rates_No_Rates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Have Current Rate</defaultConnectorLabel>
        <rules>
            <name>Has_Current_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Current_Rate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Rates_with_rates</targetReference>
            </connector>
            <label>Has Current Rate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Current_Rate_0</name>
        <label>Check for Current Rate</label>
        <locationX>228</locationX>
        <locationY>1067</locationY>
        <defaultConnector>
            <targetReference>Contract_Rates_Original_And_Future</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Have Current Rate</defaultConnectorLabel>
        <rules>
            <name>Has_Current_Rate_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Current_Rate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contract_Rates_Current_And_Future</targetReference>
            </connector>
            <label>Has Current Rate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contract_Rates_Available</name>
        <label>Contract Rates Available?</label>
        <locationX>806</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Contract_Rates_No_Rates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Rate_Count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract_Rates</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Rate</name>
        <label>Current Rate?</label>
        <locationX>773</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>Assign_Next_Rate_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Future</defaultConnectorLabel>
        <rules>
            <name>Is_Current</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contract_Rates.Effective_From_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FRM_Today</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Rate</targetReference>
            </connector>
            <label>Is Current</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Next_Rate</name>
        <label>Has Next Rate?</label>
        <locationX>472</locationX>
        <locationY>1041</locationY>
        <defaultConnector>
            <targetReference>Check_for_Current_Rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Not Have Next Rate</defaultConnectorLabel>
        <rules>
            <name>Does_Have_Next_Rate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Next_Rate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Current_Rate_0</targetReference>
            </connector>
            <label>Does Have Next Rate</label>
        </rules>
    </decisions>
    <formulas>
        <name>FRM_Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Current Unit Rate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Current Unit Rate</label>
    <loops>
        <name>Loop_Contract_Rates</name>
        <label>Loop Contract Rates</label>
        <locationX>553</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Contract_Rates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Rate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Next_Rate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>806</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Rates_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>VAR_Rate_Count</assignToReference>
            <field>Contract_Rate_Count__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VAR_Original_Unit_Rate</assignToReference>
            <field>Total_Unit_Rate__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Rates</name>
        <label>Get Contract Rates</label>
        <locationX>553</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contract_Rates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract_Rate__c</object>
        <sortField>Effective_From_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Contract_Rates_Current_And_Future</name>
        <label>Contract Rates</label>
        <locationX>149</locationX>
        <locationY>1318</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_1_TXT</name>
            <fieldText>&lt;p&gt;The current rate for this contract is &lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!VAR_Current_Rate} &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;with effect from &lt;/span&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!VAR_Effective_From}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;The next rate will be &lt;/span&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!VAR_Next_Rate} &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;with effect from&lt;/span&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt; {!VAR_Next_Rate_Effective_Date}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contract_Rates_No_Rates</name>
        <label>Contract Rates</label>
        <locationX>863</locationX>
        <locationY>1316</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_4_TXT</name>
            <fieldText>&lt;p&gt;The current rate for this contract is &lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!VAR_Original_Unit_Rate} &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;which is the original Contracted rate&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contract_Rates_Original_And_Future</name>
        <label>Contract Rates</label>
        <locationX>409</locationX>
        <locationY>1333</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_2_TXT</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;The current rate for this contract is &lt;/span&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!VAR_Original_Unit_Rate} &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;which is the original Contracted rate&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The next rate will be&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!VAR_Next_Rate}&amp;nbsp;&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;with effect from&lt;/span&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;{!VAR_Next_Rate_Effective_Date}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contract_Rates_with_rates</name>
        <label>Contract Rates</label>
        <locationX>572</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_3_TXT</name>
            <fieldText>&lt;p&gt;The current rate for this contract is &lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!VAR_Current_Rate} &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;with effect from&lt;/span&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt; {!VAR_Effective_From}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>680</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Current_Rate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Effective_From</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Loop_Contract_Rates.Effective_From_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>VAR_Next_Rate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Next_Rate_Effective_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Original_Unit_Rate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Rate_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
