force-app/main/default/flows/Delete_Accounts_and_Utility_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Closed_Won_Opps</name>
        <label>Assign Closed Won Opps</label>
        <locationX>715</locationX>
        <locationY>604</locationY>
        <assignmentItems>
            <assignToReference>Closed_Won_Opps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Oppty_VAR.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Oppty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Permission_Users</name>
        <label>Assign Permission Users</label>
        <locationX>110</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>Permission_Users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PS_iterator.AssigneeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_User_to_VAR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PRs_to_a_COL_VAR</name>
        <label>Assign PRs to a COL VAR</label>
        <locationX>1410</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>Pricing_Requests_To_Delete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Pricing_Request</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Oppty_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UA_Count</name>
        <label>Assign UA Count</label>
        <locationX>1112</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>VAR_UA_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Utility_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Has_UAs</name>
        <label>Account Has UAs?</label>
        <locationX>983</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Delete_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_UA_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Oppty_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Pricing_Requests_Exists</name>
        <label>Check for Pricing Requests Exists?</label>
        <locationX>1491</locationX>
        <locationY>345</locationY>
        <defaultConnector>
            <targetReference>Delete_UAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pricing_Request</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Pricing_Requests</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Closed_Won_Opp_Exists</name>
        <label>Closed Won Opp Exists?</label>
        <locationX>487</locationX>
        <locationY>83</locationY>
        <defaultConnector>
            <targetReference>Get_Utility_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Closed_Won_Opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppty_Closed_Won_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Oppty_Closed_Won</name>
        <label>Is Oppty Closed Won?</label>
        <locationX>757</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Oppty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Oppty_VAR.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Closed_Won_Opps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Permitted_User</name>
        <label>Permitted User?</label>
        <locationX>258</locationX>
        <locationY>661</locationY>
        <defaultConnector>
            <targetReference>Screen3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Permission_Users</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Current_User</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Current_User</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Delete Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Accounts and Utility Accounts</label>
    <loops>
        <name>Assign_User_to_VAR</name>
        <label>Assign User to VAR</label>
        <locationX>299</locationX>
        <locationY>393</locationY>
        <assignNextValueToReference>PS_iterator</assignNextValueToReference>
        <collectionReference>Get_Users_with_Delete_Permissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Permission_Users</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Permitted_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Oppty</name>
        <label>Loop over Oppty</label>
        <locationX>543</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>Oppty_VAR</assignNextValueToReference>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Oppty_Closed_Won</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Closed_Won_Opp_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Oppty_0</name>
        <label>Loop over Oppty</label>
        <locationX>1198</locationX>
        <locationY>363</locationY>
        <assignNextValueToReference>Oppty_VAR</assignNextValueToReference>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Pricing_Request</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Pricing_Requests_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Account</name>
        <label>Delete Account</label>
        <locationX>999</locationX>
        <locationY>535</locationY>
        <connector>
            <targetReference>Navigate_To_Account_HomePage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Pricing_Requests</name>
        <label>Delete Pricing Requests</label>
        <locationX>1465</locationX>
        <locationY>517</locationY>
        <connector>
            <targetReference>Delete_UAs</targetReference>
        </connector>
        <inputReference>Pricing_Requests_To_Delete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_UAs</name>
        <label>Delete UAs</label>
        <locationX>1293</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Delete_Account</targetReference>
        </connector>
        <inputReference>Get_Utility_Accounts</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>486</locationX>
        <locationY>743</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>485</locationX>
        <locationY>561</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Id</name>
        <label>Get Permission Set Id</label>
        <locationX>297</locationX>
        <locationY>82</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users_with_Delete_Permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delete_Customer_Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricing_Request</name>
        <label>Get Pricing Request</label>
        <locationX>1200</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_PRs_to_a_COL_VAR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oppty_VAR.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricing_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_with_Delete_Permissions</name>
        <label>Get Users with Delete Permissions</label>
        <locationX>300</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_to_VAR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_Set_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Utility_Accounts</name>
        <label>Get Utility Accounts</label>
        <locationX>847</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_UA_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Utility_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Navigate_To_Account_HomePage</name>
        <label>Navigate To Account HomePage</label>
        <locationX>1005</locationX>
        <locationY>699</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Navigate_to_Account_Page</name>
            <extensionName>c:NavigateToAccounts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Oppty_Closed_Won_Screen</name>
        <label>Oppty Closed Won Screen</label>
        <locationX>664</locationX>
        <locationY>224</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OPP_ClosedWon_Screen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Account is having a &apos;Closed Won&apos; Opportunity and Cannot be deleted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>879</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Has_UAs</targetReference>
        </connector>
        <fields>
            <name>TXT_Screen1</name>
            <fieldText>&lt;p&gt;There are &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!VAR_UA_Count}&lt;/span&gt; Utility Account(s) associated to this Account.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Clicking &apos;Next&apos; will result in the Account and all related Utility Accounts being deleted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>Screen3</label>
        <locationX>50</locationX>
        <locationY>660</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Permission_Screen</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(27, 26, 26);&quot;&gt;Insufficient Privileges&lt;/b&gt;&lt;/p&gt;&lt;p&gt;You do not have the level of access necessary to perform the operation you requested. Please contact the owner of the record or your administrator if access is necessary. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>172</locationX>
        <locationY>82</locationY>
        <connector>
            <targetReference>Get_Permission_Set_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Closed_Won_Opps</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Oppty_VAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Permission_Users</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Pricing_Requests_To_Delete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricing_Request__c</objectType>
    </variables>
    <variables>
        <name>PS_iterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PS_Users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_PR_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_UA_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
