force-app/main/default/flows/Enrollment_Duplicate_Detection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Duplicate_Enrollment_Email_0</name>
        <label>Send Duplicate Enrollment Email</label>
        <locationX>50</locationX>
        <locationY>2282</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <stringValue>0033i00000EbS3bAAF</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Duplicate_Enrollment_Detected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>VAR_Enrollment_ID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_UAE_ID_Collection</name>
        <label>Add to UAE ID Collection</label>
        <locationX>974</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>UAE_record_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UAE_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Matching_UAEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UAE_Update_Set_0</name>
        <label>Add to UAE Update Set</label>
        <locationX>1106</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>SCOL_Update_Dupe_UAEs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_Dupe_UAE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SCOL_Update_Dupe_UAEs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_Orig_UAE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_UAE_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_UAE_Update_Set_0_0</name>
        <label>Add to UAE Update Set</label>
        <locationX>842</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>SCOL_Update_Dupe_UAEs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_Orig_UAE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_UAE_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dupe_Update_Values</name>
        <label>Assign Dupe Update Values</label>
        <locationX>974</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_Dupe_UAE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_UAEs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Dupe_UAE.Duplicate_Detected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Dupe_UAE.Duplicate_of_UAE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Matching_UAEs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Original_Update_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Original_Update_Values</name>
        <label>Assign Original Update Values</label>
        <locationX>974</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_Orig_UAE.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Matching_UAEs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Orig_UAE.Duplicated_by_UAE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_UAEs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_Orig_UAE.Duplicate_Detected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Duplicated_UAE_already_exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_UAE_Id</name>
        <label>Clear UAE Id</label>
        <locationX>974</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>UAE_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_the_UAE_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_the_UAE_Id</name>
        <label>Set the UAE Id</label>
        <locationX>974</locationX>
        <locationY>1610</locationY>
        <assignmentItems>
            <assignToReference>UAE_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOBJ_Dupe_UAE.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_UAE_ID_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Duplicate_Check</name>
        <label>Duplicate Check</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Matching_UAEs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Duplicate Found</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Enrollments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FRM_Start_Date_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_UAEs.Sale_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dupe_Update_Values</targetReference>
            </connector>
            <label>Renewal Duplicate Found</label>
        </rules>
        <rules>
            <name>New_Dupe_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Enrollments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_UAEs.Sale_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Dupe_Update_Values</targetReference>
            </connector>
            <label>New Dupe Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Duplicates</name>
        <label>Has Duplicates?</label>
        <locationX>182</locationX>
        <locationY>2042</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SCOL_Update_Dupe_UAEs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Duplicate_UAEs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Duplicated_UAE_already_exists</name>
        <label>If Duplicated UAE already exists</label>
        <locationX>974</locationX>
        <locationY>1154</locationY>
        <defaultConnector>
            <targetReference>Add_to_UAE_Update_Set_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UAE_record_IDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SOBJ_Dupe_UAE.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_UAE_Update_Set_0_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FRM_Start_Date_Check</name>
        <dataType>Boolean</dataType>
        <expression>If(
ABS({!Loop_UAEs.Start_Date__c} - {!Loop_Matching_UAEs.Start_Date__c}) &lt;
{!$Setup.Duplicate_Enrollment_Settings__c.Start_Date_Tolerance__c},TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>Enrollment Duplicate Detection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment Duplicate Detection</label>
    <loops>
        <name>Loop_Matching_UAEs</name>
        <label>Loop Matching UAEs</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Matching_Enrollments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Duplicate_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_UAEs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_UAEs</name>
        <label>Loop UAEs</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_UAEs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Matching_Enrollments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Duplicates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Matching_Enrollments</name>
        <label>Get Matching Enrollments</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Matching_UAEs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Utility_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_UAEs.Utility_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Loop_UAEs.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sale_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_UAEs.Sale_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Utility_Account_Enrollment__c</object>
        <sortField>Utility_Account__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UAEs</name>
        <label>Get UAEs</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_UAEs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Enrollment_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Utility_Account_Enrollment__c</object>
        <sortField>Utility_Account__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Duplicate_UAEs</name>
        <label>Update Duplicate UAEs</label>
        <locationX>50</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>Send_Duplicate_Enrollment_Email_0</targetReference>
        </connector>
        <inputReference>SCOL_Update_Dupe_UAEs</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_UAEs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SCOL_Update_Dupe_UAEs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_Dupe_UAE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_Orig_UAE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>UAE_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UAE_record_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_Enrollment_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
