force-app/main/default/flows/Send_HU_Pricing_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Pricing_Email</name>
        <label>Send Pricing Email</label>
        <locationX>517</locationX>
        <locationY>381</locationY>
        <actionName>GLSendEmail__SendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactorLeadID</name>
            <value>
                <elementReference>CON_Pricing_Contact_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmailTemplateName</name>
            <value>
                <stringValue>Price_Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RelatedToId</name>
            <value>
                <elementReference>VAR_Price_Request_ID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SaveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <constants>
        <name>CON_Enrollment_Contact_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0033i00000EbS3bAAF</stringValue>
        </value>
    </constants>
    <constants>
        <name>CON_HU_Email_Template_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New_HU_Request</stringValue>
        </value>
    </constants>
    <constants>
        <name>CON_Pricing_Contact_ID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0033i00000CGHKeAAP</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <interviewLabel>Send HU &amp; Pricing Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send HU &amp; Pricing Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Price_Request</name>
        <label>Get Pricing Request</label>
        <locationX>186</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Pricing_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Price_Request_ID</elementReference>
            </value>
        </filters>
        <object>Pricing_Request__c</object>
        <outputReference>VAR_Pricing_Request</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Price_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>VAR_Contact_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Contact_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Opportunity_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Price_Request_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Pricing_Request</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricing_Request__c</objectType>
    </variables>
    <variables>
        <name>VAR_User_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
