force-app/main/default/flows/Split_Opportunity_Undo_Redo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_to_Update_Collection</name>
        <label>Add to Update Collection</label>
        <locationX>490</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>VAR_UAO_Update_Set</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_new_Opp_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_Opp_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Update_Collection_1</name>
        <label>Add To Update Collection</label>
        <locationX>1282</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>VAR_UAO_Update_Set</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Assign_Previous_Opp_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Previous_Opp_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_UAOs_to_Set</name>
        <label>Add UAOs to Set</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>VAR_UAOs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Utility_Account_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_record_Opp_ID</name>
        <label>Assign Current record Opp ID</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>VAR_Loop_Current_Opp_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Distinct_Opportunity_IDs.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ID_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_to_Previous_Opp_ID</name>
        <label>Assign Current to Previous Opp ID</label>
        <locationX>1370</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>VAR_Loop_Prev_Opp_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VAR_Loop_Current_Opp_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Distinct_Opportunity_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UAO_Undo_Count</name>
        <label>Assign UAO Undo Count</label>
        <locationX>1194</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>VAR_UAO_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Previously_Split_UAOs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Distinct_Opportunity_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Undo_Opp_Count</name>
        <label>Assign Undo Opp Count</label>
        <locationX>226</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>VAR_Opp_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Child_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_UAO_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>VAR_UAOs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Children</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Distinct_Opp_ID_Count</name>
        <label>Increment Distinct Opp ID Count</label>
        <locationX>1458</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>VAR_Distinct_Opp_ID_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_to_Previous_Opp_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_ID</name>
        <label>Update Opportunity ID</label>
        <locationX>1282</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>Assign_Previous_Opp_ID.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_Previous_Opp_ID.Undo_Split_Opportunity_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_Previous_Opp_ID.Undo_Split_Opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Update_Collection_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_IDs</name>
        <label>Update Opportunity IDs</label>
        <locationX>490</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>Assign_new_Opp_ID.Undo_Split_Opportunity_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_new_Opp_ID.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Assign_new_Opp_ID.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CH_Redo</name>
        <choiceText>Redo Split</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Redo</stringValue>
        </value>
    </choices>
    <choices>
        <name>CH_Undo</name>
        <choiceText>Undo Split</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Undo</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Action_Selected</name>
        <label>Action Selected</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Previously_Split_UAOs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Redo Split</defaultConnectorLabel>
        <rules>
            <name>Undo_Split</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_to_perform</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Undo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Child_Opportunities</targetReference>
            </connector>
            <label>Undo Split</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Children</name>
        <label>Has Children?</label>
        <locationX>226</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Confirm_Undo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Utility_Account_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Child_Records_Found</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Previously_Split_UAOs</name>
        <label>Has Previously Split UAOs?</label>
        <locationX>930</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_UAO_Undo_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes_1</defaultConnectorLabel>
        <rules>
            <name>No_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previously_Split_UAOs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Previously_Split_UAOs</targetReference>
            </connector>
            <label>No_1</label>
        </rules>
    </decisions>
    <decisions>
        <name>ID_Match</name>
        <label>ID Match?</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Increment_Distinct_Opp_ID_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_Loop_Prev_Opp_ID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VAR_Loop_Current_Opp_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_to_Previous_Opp_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Split Opportunity Undo Redo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Split Opportunity Undo Redo</label>
    <loops>
        <name>Assign_new_Opp_ID</name>
        <label>Assign new Opp ID</label>
        <locationX>402</locationX>
        <locationY>1334</locationY>
        <collectionReference>VAR_UAOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Opportunity_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_UAOs_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Assign_Previous_Opp_ID</name>
        <label>Assign Previous Opp ID</label>
        <locationX>1194</locationX>
        <locationY>1670</locationY>
        <collectionReference>Get_Previously_Split_UAOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Opportunity_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_UAOs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Count_Distinct_Opportunity_IDs</name>
        <label>Count Distinct Opportunity IDs</label>
        <locationX>1194</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Previously_Split_UAOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_record_Opp_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirm_Redo_Split</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opportunities</name>
        <label>Loop Opportunities</label>
        <locationX>226</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Child_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Utility_Account_Opportunities</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Undo_Opp_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Child_Opportunities</name>
        <label>Get Child Opportunities</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previously_Split_UAOs</name>
        <label>Get Previously Split UAOs</label>
        <locationX>930</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Previously_Split_UAOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Undo_Split_Opportunity_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Utility_Account_Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Utility_Account_Opportunities</name>
        <label>Get Utility Account Opportunities</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_UAOs_to_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Opportunities.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Utility_Account_Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_UAOs</name>
        <label>Update UAOs</label>
        <locationX>1194</locationX>
        <locationY>2126</locationY>
        <connector>
            <targetReference>Redo_Complete</targetReference>
        </connector>
        <inputReference>VAR_UAO_Update_Set</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UAOs_1</name>
        <label>Update UAOs</label>
        <locationX>402</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Undo_Complete</targetReference>
        </connector>
        <inputReference>VAR_UAO_Update_Set</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_Redo_Split</name>
        <label>Confirm Redo Split</label>
        <locationX>1194</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Previous_Opp_ID</targetReference>
        </connector>
        <fields>
            <name>Txt_6</name>
            <fieldText>&lt;p&gt;A total of {!VAR_UAO_Count} Utility Accounts that are assigned to {!VAR_Distinct_Opp_ID_Count} Opportunities will be updated in this process.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please click &apos;Next&apos; to perform the update or close this window to exit the process without making any changes.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Undo</name>
        <label>Confirm Undo</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_new_Opp_ID</targetReference>
        </connector>
        <fields>
            <name>Txt_2</name>
            <fieldText>&lt;p&gt;There are {!VAR_Opp_Count} Opportunities with {!VAR_UAO_Count} associated Utility Accounts that will be updated in the process.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &apos;Next&apos; to perform the update or close this window to exit the process without making any changes.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Child_Records_Found</name>
        <label>No Child Records Found</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Txt1</name>
            <fieldText>&lt;p&gt;This Opportunity has no child Opportunity records &lt;b&gt;OR &lt;/b&gt;The child Opportunity records contain no Utility Accounts.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please check the details and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Previously_Split_UAOs</name>
        <label>No Previously Split UAOs</label>
        <locationX>666</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Txt_5</name>
            <fieldText>&lt;p&gt;There are no previously split Utility Accounts related this Opportunity.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please check that you have the correct Opportunity record and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redo_Complete</name>
        <label>Redo Complete</label>
        <locationX>1194</locationX>
        <locationY>2246</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Txt_7</name>
            <fieldText>&lt;p&gt;The Redo Split Opportunity process is complete.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The previous split of Utility Accounts has been completed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please note that the Utility Account &amp;lt;-&amp;gt; Customer Account relationship has not been updated in the process.  The child Utility Accounts are still assigned to their split Customer Accounts.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Option</name>
        <label>Select Option</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action_Selected</targetReference>
        </connector>
        <fields>
            <name>Txt_0</name>
            <fieldText>&lt;p&gt;This process allows for the &apos;undoing&apos; and &apos;redoing&apos; of the &apos;Split Opportunity&apos; process.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It cannot be used to perform the first split of an opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select below which action you wish to perform. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Action_to_perform</name>
            <choiceReferences>CH_Undo</choiceReferences>
            <choiceReferences>CH_Redo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Action to perform:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Undo_Complete</name>
        <label>Undo Complete</label>
        <locationX>402</locationX>
        <locationY>1910</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Txt_4</name>
            <fieldText>&lt;p&gt;The Undo Split Opportunity process is complete.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;All 1st generation child Utility Accounts are now assigned to this Opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please run this process again, selecting &apos;Redo Split&apos; once you are ready to move the Utility Accounts back to their child Opportunities.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please note that the Utility Account &amp;lt;-&amp;gt; Customer Account relationship has not been updated in the process.  The child Utility Accounts are still assigned to their split Customer Accounts.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Option</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Distinct_Opp_ID_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Loop_Current_Opp_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Loop_Prev_Opp_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Opp_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_UAO_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_UAO_Update_Set</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>VAR_UAOs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Opportunity__c</objectType>
    </variables>
</Flow>
