force-app/main/default/flows/Split_Opportunity_Renewal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Child_UAOs_to_Set</name>
        <label>Add Child UAOs to Set</label>
        <locationX>842</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>SCOL_UAOs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_UAO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Child_Opp_UAOs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_UAO_to_Create_Set</name>
        <label>Add UAO to Create Set</label>
        <locationX>666</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>SCOL_UAOs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SOBJ_UAO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Parent_UAOs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Child_Opp_UAO</name>
        <label>Assign Child Opp UAO</label>
        <locationX>842</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Utility_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Child_Opp_UAOs.Utility_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Renewal_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Priced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FRM_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Child_UAOs_to_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Opp_ID</name>
        <label>Assign Parent Opp ID</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>VAR_Parent_Opp_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Child_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Opp_ID_2</name>
        <label>Assign Parent Opp ID 2</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>VAR_Parent_Opp_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Parent_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Child_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UAO_values</name>
        <label>Assign UAO values</label>
        <locationX>666</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Utility_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Parent_UAOs.Utility_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Renewal_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Priced</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SOBJ_UAO.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FRM_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_UAO_to_Create_Set</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Renewed</name>
        <label>Already Renewed?</label>
        <locationX>413</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Check_for_Split</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Renewed2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.Renewal_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_3</targetReference>
            </connector>
            <label>Already Renewed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Split</name>
        <label>Check for Split</label>
        <locationX>776</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Screen_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Split</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Split_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_1</targetReference>
            </connector>
            <label>Is Split</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_Opportunity</name>
        <label>Is Parent Opportunity?</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_Parent_Opp_ID_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Parent_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Parent_Opp_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FRM_Close_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()+60</expression>
    </formulas>
    <formulas>
        <name>FRM_Start_Date</name>
        <dataType>Date</dataType>
        <expression>{!Get_Contract.EndDate}+1</expression>
    </formulas>
    <interviewLabel>Split Opportunity Renewal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Split Opportunity Renewal</label>
    <loops>
        <name>Loop_Child_Opp_UAOs</name>
        <label>Loop Child Opp UAOs</label>
        <locationX>754</locationX>
        <locationY>2390</locationY>
        <collectionReference>Get_Child_Opp_UAOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Child_Opp_UAO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Child_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Child_Opps</name>
        <label>Loop Child Opps</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <collectionReference>Get_Child_Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Child_Opp_Contract</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_UAOs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Parent_UAOs</name>
        <label>Loop Parent UAOs</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <collectionReference>Get_Parent_UAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_UAO_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Child_Opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Renewal_Opportunity</name>
        <label>Create Renewal Opportunity</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Loop_Parent_UAOs</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Parent_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>FRM_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_UAOs</name>
        <label>Create UAOs</label>
        <locationX>578</locationX>
        <locationY>2942</locationY>
        <connector>
            <targetReference>Update_Parent_Contract</targetReference>
        </connector>
        <inputReference>SCOL_UAOs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Child_Opp_UAOs</name>
        <label>Get Child Opp UAOs</label>
        <locationX>754</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Child_Opp_UAOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Child_Opps.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Utility_Account_Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Opps</name>
        <label>Get Child Opps</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_UAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Parent_Opp_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>413</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>413</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Renewed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Opportunity</name>
        <label>Get Parent Opportunity</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Renewal_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Parent_Opp_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_UAs</name>
        <label>Get Parent UAs</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Parent_Opp_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Utility_Account_Opportunity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Opp_Contract</name>
        <label>Update Child Opp Contract</label>
        <locationX>754</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Get_Child_Opp_UAOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Child_Opps.ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Opportunity__c</field>
            <value>
                <elementReference>Create_Renewal_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Contract</name>
        <label>Update Parent Contract</label>
        <locationX>578</locationX>
        <locationY>3062</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Opportunity.ContractId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Opportunity__c</field>
            <value>
                <elementReference>Create_Renewal_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Parent_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Screen_0_Txt</name>
            <fieldText>&lt;p&gt;This Contract was formed from a Split Opportunity.  Clicking Next will create a Renewal Opportunity that includes all Utility Accounts from all related Split Opportunities.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Once created, you will need to go to the Opportunity and create a Pricing Request.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you do not wish to create a combined Renewal Opportunity and instead create individual Opportunities, close this window and run the standard Renewal Process.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Click &apos;Finish&apos; to create the combined Renewal Opportunity&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_2</name>
        <label>Screen 2</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_2_Txt_1</name>
            <fieldText>&lt;p&gt;This Contract&apos;s Opportunity is not a &apos;Split Opportunity&apos;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_3</name>
        <label>Screen 3</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_3_Txt_1</name>
            <fieldText>&lt;p&gt;This Contract already has a Renewal Opportunity link populated.  Please clear that link if you wish to create a new Renewal Opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>287</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SCOL_UAOs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_UAO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Opportunity__c</objectType>
    </variables>
    <variables>
        <name>VAR_Parent_Opp_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_UA_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_UAO_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Not Priced</stringValue>
        </value>
    </variables>
</Flow>
