force-app/main/default/flows/Transfer_Broker_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AllUpdateCount</name>
        <label>AllUpdateCount</label>
        <locationX>1640</locationX>
        <locationY>627</locationY>
        <actionName>CountUpdateBroker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Opportunity_Count2_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetCurrentBrokerRecordId.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>AllCount</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Count_Open_OPP</name>
        <label>Count Open OPP</label>
        <locationX>1123</locationX>
        <locationY>530</locationY>
        <actionName>CountBrokerClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Store_Count_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetCurrentBrokerRecordId.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>StoreCount3</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CountAllOPP</name>
        <label>CountAllOPP</label>
        <locationX>972</locationX>
        <locationY>475</locationY>
        <actionName>CountAllOPPBrokerClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Count_Open_OPP</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetCurrentBrokerRecordId.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>StoreCount1</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CountOpenOPP</name>
        <label>CountOpenOPP</label>
        <locationX>1034</locationX>
        <locationY>237</locationY>
        <actionName>CountBrokerClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Store_Count</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetCurrentBrokerRecordId.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>StoreCount</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_CPM_User1</name>
        <label>Assign CPM User1</label>
        <locationX>551</locationX>
        <locationY>848</locationY>
        <assignmentItems>
            <assignToReference>CPM_User.recordId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CPM_User_1.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CPM_User.recordName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CPM_User_1.recordName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test_Checkbox_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_User_Screen_2</name>
        <label>Check User Screen 2</label>
        <locationX>458</locationX>
        <locationY>657</locationY>
        <defaultConnector>
            <targetReference>Assign_CPM_User1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_User_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CPM_User_1.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayOppScreen_1</targetReference>
            </connector>
            <label>Check User 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckUser</name>
        <label>CheckUser</label>
        <locationX>471</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>OpenOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CPM_User.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayOppScreen_1</targetReference>
            </connector>
            <label>UserNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpenOpportunities</name>
        <label>OpenOpportunities</label>
        <locationX>593</locationX>
        <locationY>207</locationY>
        <defaultConnector>
            <targetReference>GetOpenOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AllOpps</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Include_Closed_Opportunities</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AllOpportunities</targetReference>
            </connector>
            <label>AllOpps</label>
        </rules>
    </decisions>
    <decisions>
        <name>Store_Count</name>
        <label>StoreCount</label>
        <locationX>1139</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>Display1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CompareStoreCount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>String0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_0_1</targetReference>
            </connector>
            <label>CompareStoreCount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Store_Count_1</name>
        <label>StoreCount1</label>
        <locationX>1169</locationX>
        <locationY>770</locationY>
        <defaultConnector>
            <targetReference>Display2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CompareStoreCount_0_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreCount1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>String0</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StoreCount3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>String0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_1_1_0</targetReference>
            </connector>
            <label>CompareStoreCount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Checkbox_Screen</name>
        <label>Test Checkbox Screen</label>
        <locationX>647</locationX>
        <locationY>632</locationY>
        <defaultConnector>
            <targetReference>GetOpenOpportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Test_Checkbox_Screen1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Include_Closed_Opportunities_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AllOpportunities</targetReference>
            </connector>
            <label>Test Checkbox Screen1</label>
        </rules>
    </decisions>
    <interviewLabel>Transfer Broker Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transfer Broker Opportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>AllOpportunities</name>
        <label>AllOpportunities</label>
        <locationX>891</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountAllOPP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Broker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentBrokerRecordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCurrentBrokerRecordId</name>
        <label>GetCurrentBrokerRecordId</label>
        <locationX>185</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Broker</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpenOpportunities</name>
        <label>GetOpenOpportunities</label>
        <locationX>902</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountOpenOPP</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 4 OR 5 OR 6) AND 3</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </filters>
        <filters>
            <field>Broker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentBrokerRecordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pricing</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quoting</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contracting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunities</name>
        <label>GetOpportunities</label>
        <locationX>391</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DisplayOppScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Broker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentBrokerRecordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAllBroker</name>
        <label>UpdateAllBroker</label>
        <locationX>1506</locationX>
        <locationY>496</locationY>
        <connector>
            <targetReference>AllUpdateCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Broker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentBrokerRecordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CPM_User.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpenBroker</name>
        <label>UpdateOpenBroker</label>
        <locationX>1498</locationX>
        <locationY>331</locationY>
        <connector>
            <targetReference>Update_Opportunity_Count1</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4 OR 5 OR 6 )</filterLogic>
        <filters>
            <field>Broker__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentBrokerRecordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pricing</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quoting</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contracting</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CPM_User.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Display1</name>
        <label>Display1</label>
        <locationX>1280</locationX>
        <locationY>391</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateOpenBroker</targetReference>
        </connector>
        <fields>
            <name>DisplayText1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;There will be a total of  {!StoreCount} open opportunities for {!GetCurrentBrokerRecordId.Name} that will be transferred to {!CPM_User.recordName}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display2</name>
        <label>Display2</label>
        <locationX>1282</locationX>
        <locationY>564</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateAllBroker</targetReference>
        </connector>
        <fields>
            <name>DisplayText2_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;There will be {!StoreCount1} closed and&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!StoreCount3} open opportunities for {!GetCurrentBrokerRecordId.Name} that will be transferred to {!CPM_User.recordName}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_0_1</name>
        <label>Display_0_1</label>
        <locationX>1576</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display0_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: Roboto, arial, sans-serif; color: rgb(0, 0, 0);&quot;&gt;There are no opportunities available to transfer for {!GetCurrentBrokerRecordId.Name}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_1_1_0</name>
        <label>Display_1_1</label>
        <locationX>1299</locationX>
        <locationY>862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display1_Text_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Roboto, arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;There are no opportunities available to transfer for {!GetCurrentBrokerRecordId.Name}.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayOppScreen</name>
        <label>DisplayOppScreen</label>
        <locationX>187</locationX>
        <locationY>502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckUser</targetReference>
        </connector>
        <fields>
            <name>CPM_User</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CPM User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Include_Closed_Opportunities</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Include Closed Opportunities</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayOppScreen_1</name>
        <label>DisplayOppScreen1</label>
        <locationX>264</locationX>
        <locationY>753</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_User_Screen_2</targetReference>
        </connector>
        <fields>
            <name>CPM_User_1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>CPM User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayhelpText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please select a user before proceeding.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Include_Closed_Opportunities_1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Include Closed Opportunities</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Opportunity_Count1</name>
        <label>Update Opportunity Count1</label>
        <locationX>1695</locationX>
        <locationY>257</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_UpdateOPP_Count1</name>
            <fieldText>&lt;p&gt;{!StoreCount} Opportunities have been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Opportunity_Count2_0</name>
        <label>Update Opportunity Count2</label>
        <locationX>1811</locationX>
        <locationY>521</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_UpdateOPP_Count1_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!AllCount} Opportunities &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;have been updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>247</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCurrentBrokerRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AllCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoreCount1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoreCount3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>String0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
</Flow>
