force-app/main/default/flows/Update_Enrollment_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Category</name>
        <label>Update Category</label>
        <locationX>634</locationX>
        <locationY>324</locationY>
        <actionName>UpdateUtilityCategory</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Primary_Utility</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>utilId</name>
            <value>
                <elementReference>Get_Enrollment.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_Primary_Utility</name>
        <label>Update Primary Utility</label>
        <locationX>813</locationX>
        <locationY>322</locationY>
        <actionName>updatePrimaryUtility</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>utilId</name>
            <value>
                <elementReference>Get_Enrollment.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>If_UAE_not_empty</name>
        <label>If UAE not empty</label>
        <locationX>379</locationX>
        <locationY>338</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UAE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Category</targetReference>
            </connector>
            <label>not empty</label>
        </rules>
    </decisions>
    <interviewLabel>Update Enrollment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Enrollment Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Enrollment</name>
        <label>Get Enrollment</label>
        <locationX>176</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UAE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Enrollment_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UAE</name>
        <label>Get UAE</label>
        <locationX>177</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_UAE_not_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_Enrollment_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Utility_Account_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Enrollment</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>SCOL_UAE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_UAC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Contract__c</objectType>
    </variables>
    <variables>
        <name>SOBJ_UAE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Utility_Account_Enrollment__c</objectType>
    </variables>
    <variables>
        <name>VAR_Contract_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_Enrollment_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
