force-app/main/default/flows/Update_Invoice_Billing_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignIBT</name>
        <label>AssignIBT</label>
        <locationX>745</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>SyncingQuote.Invoice_Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Billing_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteRelatedPrice.Invoice_Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Billing_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceRelatedPricingRequest.Invoice_Billing_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoice_Billing_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateQuote</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>InvoiceBillingType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Invoice_Billing_Type__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Update Invoice Billing Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Invoice Billing Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>PriceRelatedPricingRequest</name>
        <label>PriceRelatedPricingRequest</label>
        <locationX>601</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignIBT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteRelatedPrice.Pricing_Request__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricing_Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Invoice_Billing_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>QuoteRelatedPrice</name>
        <label>QuoteRelatedPrice</label>
        <locationX>458</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PriceRelatedPricingRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SyncingQuote.Price__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Price__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Invoice_Billing_Type__c</queriedFields>
        <queriedFields>Pricing_Request__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SyncingQuote</name>
        <label>SyncingQuote</label>
        <locationX>163</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Invoice_Billing_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePR</name>
        <label>UpdatePR</label>
        <locationX>754</locationX>
        <locationY>376</locationY>
        <connector>
            <targetReference>successScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>PriceRelatedPricingRequest</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePrice</name>
        <label>UpdatePrice</label>
        <locationX>916</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>UpdatePR</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>QuoteRelatedPrice</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQuote</name>
        <label>UpdateQuote</label>
        <locationX>876</locationX>
        <locationY>189</locationY>
        <connector>
            <targetReference>UpdatePrice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>SyncingQuote</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>1210</locationX>
        <locationY>333</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;An &lt;span style=&quot;color: rgb(234, 22, 22);&quot;&gt;Error &lt;/span&gt;has occurred! Please contact &lt;b&gt;System Administrator&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>successScreen</name>
        <label>Success</label>
        <locationX>610</locationX>
        <locationY>390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(16, 215, 69);&quot;&gt;Success!&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; &lt;/span&gt;Invoice Billing Type on Syncing Quote, it&apos;s Price and Pricing Request has been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Invoice_Billing_Type</name>
        <label>Update Invoice Billing Type</label>
        <locationX>318</locationX>
        <locationY>218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>QuoteRelatedPrice</targetReference>
        </connector>
        <fields>
            <name>Current_IBT</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Current Invoice Billing Type&lt;/b&gt; : {!SyncingQuote.Invoice_Billing_Type__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Invoice_Billing_Type</name>
            <choiceReferences>InvoiceBillingType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Invoice Billing Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Note</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Note&lt;/b&gt;: This will update syncing Quote&apos;s and it&apos;s related Price and Pricing Request&apos;s &lt;b&gt;Invoice Billing Type&lt;/b&gt; value&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>40</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>SyncingQuote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
