force-app/main/default/flows/Utility_Account_Migration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>Default_Choice</name>
        <choiceText>{!Get_Utility_Account.Utility__r.Name}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Utility_Account.Utility__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>UA_already_present</name>
        <label>UA already present?</label>
        <locationX>452</locationX>
        <locationY>616</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UAs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dupliate_Error_Screen</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Contract_Choices</name>
        <dataType>String</dataType>
        <displayField>Contract_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Utility_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Utility_Account_Contract__c</object>
        <valueField>Contract_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Utility_Choices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Utility_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Utility_Account.Utility__r.Name</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Utility Account Migration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Utility Account Migration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Enrollment</name>
        <label>Create Enrollment</label>
        <locationX>618</locationX>
        <locationY>488</locationY>
        <connector>
            <targetReference>Delete_other_UAEs</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Selected_Contract.Opportunity__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Get_Selected_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_UAC</name>
        <label>Create UAC</label>
        <locationX>458</locationX>
        <locationY>372</locationY>
        <connector>
            <targetReference>Update_UAC_Status_to_Void</targetReference>
        </connector>
        <inputAssignments>
            <field>Annual_Usage_kWh__c</field>
            <value>
                <elementReference>Get_Previous_UAC.Annual_Usage_kWh__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Get_Selected_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Damage_Fee__c</field>
            <value>
                <elementReference>Get_Previous_UAC.Damage_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EOS_BillingAccountId__c</field>
            <value>
                <elementReference>Get_Previous_UAC.EOS_BillingAccountId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EOS_BillingAccountNumber__c</field>
            <value>
                <elementReference>Get_Previous_UAC.EOS_BillingAccountNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EOS_ServiceAccountId__c</field>
            <value>
                <elementReference>Get_Previous_UAC.EOS_ServiceAccountId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Payment__c</field>
            <value>
                <elementReference>Get_Previous_UAC.Invoice_Payment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Get_Previous_UAC.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utility_Account__c</field>
            <value>
                <elementReference>Create_Utility_Account</elementReference>
            </value>
        </inputAssignments>
        <object>Utility_Account_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Utility_Account</name>
        <label>Create Utility Account</label>
        <locationX>311</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Update_Utility_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Selected_Utility</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Utility_Account.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_Usage_kWh__c</field>
            <value>
                <elementReference>Annual_Usage_number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Utility_Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Class__c</field>
            <value>
                <elementReference>Service_Class</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_2__c</field>
            <value>
                <elementReference>Street2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utility__c</field>
            <value>
                <elementReference>Utility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip__c</field>
            <value>
                <elementReference>Zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zone__c</field>
            <value>
                <elementReference>Zone</elementReference>
            </value>
        </inputAssignments>
        <object>Utility_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_other_UAEs</name>
        <label>Delete other UAEs</label>
        <locationX>615</locationX>
        <locationY>386</locationY>
        <connector>
            <targetReference>Process_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enrollment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Enrollment</elementReference>
            </value>
        </filters>
        <filters>
            <field>Utility_Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Create_Utility_Account</elementReference>
            </value>
        </filters>
        <object>Utility_Account_Enrollment__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Previous_UAC</name>
        <label>Get Previous UAC</label>
        <locationX>459</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_UAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Selected_Contract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Utility_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Utility_Account_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Contract</name>
        <label>Get Selected Contract</label>
        <locationX>628</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Previous_UAC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contract</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Utility</name>
        <label>Get Selected Utility</label>
        <locationX>337</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Utility</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UAs</name>
        <label>Get UAs</label>
        <locationX>339</locationX>
        <locationY>588</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UA_already_present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Utility_Account_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Utility_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Utility_Account</name>
        <label>Get Utility Account</label>
        <locationX>170</locationX>
        <locationY>309</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Utility_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Utility_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Utility_Record_Type</name>
        <label>Get Utility Record Type</label>
        <locationX>172</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Utility_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Utility</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_UAC_Status_to_Void</name>
        <label>Update UAC Status to Void</label>
        <locationX>462</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>Create_Enrollment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Selected_Contract.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Utility_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </inputAssignments>
        <object>Utility_Account_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Utility_Account</name>
        <label>Update Utility Account</label>
        <locationX>317</locationX>
        <locationY>202</locationY>
        <connector>
            <targetReference>Select_Contract_Create_Enrollment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Utility_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Migrated_To__c</field>
            <value>
                <elementReference>Create_Utility_Account</elementReference>
            </value>
        </inputAssignments>
        <object>Utility_Account__c</object>
    </recordUpdates>
    <screens>
        <name>Create_New_Utility_Account</name>
        <label>Create New Utility Account</label>
        <locationX>221</locationX>
        <locationY>522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Utility_Account</targetReference>
        </connector>
        <fields>
            <name>Screen1_Text</name>
            <fieldText>&lt;p&gt;This process is used to create a new Utility Account that will be added to an existing Contract and will create an Enrollment record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Utility_Account_Number</name>
            <dataType>String</dataType>
            <fieldText>Utility Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Utility</name>
            <choiceReferences>Default_Choice</choiceReferences>
            <choiceReferences>Utility_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Utility</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Utility_Account.Street__c</elementReference>
            </defaultValue>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Utility_Account.Street_2__c</elementReference>
            </defaultValue>
            <fieldText>Street2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Utility_Account.City__c</elementReference>
            </defaultValue>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Utility_Account.State__c</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Utility_Account.Zip__c</elementReference>
            </defaultValue>
            <fieldText>Zip</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Utility_Account.Country__c</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Service_Class</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Utility_Account.Service_Class__c</elementReference>
            </defaultValue>
            <fieldText>Service Class</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Utility_Account.Zone__c</elementReference>
            </defaultValue>
            <fieldText>Zone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Annual_Usage_number</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Utility_Account.Annual_Usage_kWh__c</elementReference>
            </defaultValue>
            <fieldText>Annual Usage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Load_Factor_number</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Utility_Account.Load_Factor_Decimal__c</elementReference>
            </defaultValue>
            <fieldText>Load Factor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>8</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dupliate_Error_Screen</name>
        <label>Dupliate Error Screen</label>
        <locationX>475</locationX>
        <locationY>793</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Duplicate_Error_Text</name>
            <fieldText>&lt;p&gt;The Utility Account Number that you have entered is already in the system.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Utility Account is currently associated to the Customer &apos;{!Get_UAs.Account__r.Name}&apos;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click &apos;Previous&apos; to amend the Utility Account Number or &apos;Finish&apos; to leave the process without adding any more Accounts.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>715</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_Text</name>
            <fieldText>&lt;p&gt;There was an error when trying to create that Utility Account.  It is likely caused by a mismatch between the Account Number and the format expected for that Utility.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You selected {!Get_Selected_Utility.Name} as the Utility. Their Account numbers are expected to be {!Get_Selected_Utility.Utility_Account_Number_Length__c} characters long {!Get_Selected_Utility.Utility_Account_Number_Prefix__c}&lt;/p&gt;&lt;p&gt;Please try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Process_Complete</name>
        <label>Process Complete</label>
        <locationX>613</locationX>
        <locationY>255</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen3_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Process Completed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Contract_Create_Enrollment</name>
        <label>Select Contract &amp; Create Enrollment</label>
        <locationX>388</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Contract</targetReference>
        </connector>
        <fields>
            <name>Screen2_Text</name>
            <fieldText>&lt;p&gt;Use the below field to select the Contract record where the new Utility Account will be added.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contract</name>
            <choiceReferences>Contract_Choices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contract</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen2_Text2</name>
            <fieldText>&lt;p&gt;Clicking Next will insert the new Utility Account into the selected Contract and will create an Enrollment record for the new Utility Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>53</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Get_Utility_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
